samples/sharepoint-set-item-level-permissions/sourcecode/Microsoft.Flow/flows/6c1f5a59-9746-46ba-bfcf-79bedbbd8208/definition.json
{"name":"0fab90fb-9ad5-449f-979e-a981c5bab10c","id":"/providers/Microsoft.Flow/flows/0fab90fb-9ad5-449f-979e-a981c5bab10c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SharePoint Set Item Level Permissions","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"b29831a9-9178-4b75-a0fe-2043608497ef","type":"User","tenantId":"2fb81f0d-c6ef-4c83-b35c-9553261f9d9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-29T08:07:57.1608973Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b512abf8-347d-4657-9faa-f5bc555d879f"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_varSharePointInfo":{"runAfter":{},"metadata":{"operationMetadataId":"52010515-cd71-421b-b6d3-68d805551fbc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSharePointInfo","type":"object","value":{"SiteUrl":"https://contoso.sharepoint.com/","ListName":"PnP Samples","ItemId":1,"Permissions":[{"GroupName":"Sales","RoleDefinitionName":"Contribute"},{"GroupName":"Development","RoleDefinitionName":"Full Control"}]}}]}},"SharePointInfoContent":{"runAfter":{"Initialize_varSharePointInfo":["Succeeded"]},"metadata":{"operationMetadataId":"d4ae7c35-37b8-48be-be6f-c8b370db8880"},"type":"ParseJson","inputs":{"content":"@variables('varSharePointInfo')","schema":{"type":"object","properties":{"SiteUrl":{"type":"string"},"ListName":{"type":"string"},"ItemId":{"type":"integer"},"Permissions":{"type":"array","items":{"type":"object","properties":{"GroupName":{"type":"string"},"RoleDefinitionName":{"type":"string"}},"required":["GroupName","RoleDefinitionName"]}}}}}},"Try":{"actions":{"Break_inheritance":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"2f25de82-a068-488f-812f-b8ed40dbb635"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@body('SharePointInfoContent')?['SiteUrl']","parameters/method":"POST","parameters/uri":"_api/Web/lists/getByTitle('@{body('SharePointInfoContent')?['ListName']}')/items(@{body('SharePointInfoContent')?['ItemId']})/BreakRoleInheritance(copyRoleAssignments=false, clearSubscopes=true)","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-Method":"PATCH"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@body('SharePointInfoContent')?['Permissions']","actions":{"Get_group_id":{"runAfter":{},"metadata":{"operationMetadataId":"afe4efd4-7561-49e4-98cd-31655a2d9046"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@body('SharePointInfoContent')?['SiteUrl']","parameters/method":"GET","parameters/uri":"/_api/web/sitegroups/getbyname('@{items('Apply_to_each')?['GroupName']}')/id","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_role_definition_id":{"runAfter":{"Get_group_id":["Succeeded"]},"metadata":{"operationMetadataId":"c0a6dfb4-2232-488e-bf81-76e11bcf72c4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@body('SharePointInfoContent')?['SiteUrl']","parameters/method":"GET","parameters/uri":"/_api/web/roledefinitions/getbyname('@{items('Apply_to_each')?['RoleDefinitionName']}')/id","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_role_assignment":{"runAfter":{"Get_role_definition_id":["Succeeded"]},"metadata":{"operationMetadataId":"94b7da39-cc0e-4f58-884f-a05e23d94b16"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@body('SharePointInfoContent')?['SiteUrl']","parameters/method":"POST","parameters/uri":"_api/Web/lists/getByTitle('@{body('SharePointInfoContent')?['ListName']}')/items(@{body('SharePointInfoContent')?['ItemId']})/roleassignments/addroleassignment(principalid=@{outputs('Get_group_id')?['body']?['d']?['id']},roleDefId=@{outputs('Get_role_definition_id')?['body']?['d']?['id']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-Method":"PATCH"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"21 is the ID of the Cyber Group, 1073741830 is the Id of Edit role definition"}},"runAfter":{"Break_inheritance":["Succeeded"]},"metadata":{"operationMetadataId":"dd0e116a-69c5-4782-852f-480ff251980f"},"type":"Foreach"},"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"13dbb53c-f4cb-4cd6-b3b2-c1b8cbd91c8b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"@body('SharePointInfoContent')?['SiteUrl']","table":"@body('SharePointInfoContent')?['ListName']","id":"@body('SharePointInfoContent')?['ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"SharePointInfoContent":["Succeeded"]},"metadata":{"operationMetadataId":"e1b12c8c-74ef-4f6b-92ad-668411ec9823"},"type":"Scope"},"Catch":{"actions":{"Error_message":{"runAfter":{},"metadata":{"operationMetadataId":"54bd39a1-ec19-4f9b-b773-59c2f3db9003"},"type":"Compose","inputs":"Group or role definition not found!"}},"runAfter":{"Try":["Failed","TimedOut"]},"metadata":{"operationMetadataId":"5a0b6cd7-3e7f-4fc9-9fe3-ab16e4a53554"},"type":"Scope"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"1247ae9634b84a589cc6ba1d676fed45","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"4819182ebc824651a93e16b8eab937fc","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}