samples/sharepoint-get-terms-from-term-store/sourcecode/Microsoft.Flow/flows/5b6b61c6-ae99-4d5c-8f40-253c483dab00/definition.json
{"name":"d7bf09a5-52eb-4a9e-93fa-0c1c04133dfd","id":"/providers/Microsoft.Flow/flows/d7bf09a5-52eb-4a9e-93fa-0c1c04133dfd","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Get terms from Term Store","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b29831a9-9178-4b75-a0fe-2043608497ef","type":"User","tenantId":"2fb81f0d-c6ef-4c83-b35c-9553261f9d9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-07-29T10:12:06.5157952Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"30e829c4-137a-40ed-a0ec-c2f815aa1ad2"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_TermsCollection":{"runAfter":{"Global_variables":["Succeeded"]},"metadata":{"operationMetadataId":"530b2663-e10b-4cb7-8c4a-5d418fee2c3f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TermsCollection","type":"array","value":[]}]}},"Terms_collection":{"runAfter":{"Failed_to_get_terms":["Succeeded","Skipped"]},"metadata":{"operationMetadataId":"478db853-8d33-4217-873d-ae0358569e02"},"type":"Compose","inputs":"@variables('TermsCollection')","description":"Do some good stuff with the terms!"},"Get_terms_scope":{"actions":{"Apply_to_each_group":{"foreach":"@body('Global_variables')?['GroupIds']","actions":{"Get_term_sets":{"runAfter":{},"metadata":{"operationMetadataId":"d3211d12-f854-4211-a804-df508b658444"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@body('Global_variables')?['SiteUrl']","parameters/method":"GET","parameters/uri":"_api/v2.1/termStore/groups/@{items('Apply_to_each_group')}/sets","parameters/headers":{"Accept":"application/json; odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_term_sets":{"foreach":"@body('Get_term_sets')?['value']","actions":{"Get_terms":{"runAfter":{},"metadata":{"operationMetadataId":"8997616f-e4bb-4e92-a148-11475d798f3c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@body('Global_variables')?['SiteUrl']","parameters/method":"GET","parameters/uri":"_api/v2.1/termStore/groups/@{items('Apply_to_each_group')}/sets/@{items('Apply_to_each_term_sets')?['id']}/terms","parameters/headers":{"Accept":"application/json; odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Merge_terns_to_terms_collection_array":{"runAfter":{"Select_terms":["Succeeded"]},"metadata":{"operationMetadataId":"fb4399c8-16f1-4197-bb6c-9435b30389f6"},"type":"Compose","inputs":"@union(variables('TermsCollection'),body('Select_terms'))"},"Set_variable":{"runAfter":{"Merge_terns_to_terms_collection_array":["Succeeded"]},"metadata":{"operationMetadataId":"1a983663-06be-465a-a614-05db92f47815"},"type":"SetVariable","inputs":{"name":"TermsCollection","value":"@outputs('Merge_terns_to_terms_collection_array')"}},"Select_terms":{"runAfter":{"Get_terms":["Succeeded"]},"metadata":{"operationMetadataId":"2e0e9deb-f670-4a95-8fe1-625cc5ddfa21"},"type":"Select","inputs":{"from":"@body('Get_terms')?['value']","select":{"id":"@item()?['id']","label":"@item()?['labels'][0]?['name']"}}}},"runAfter":{"Get_term_sets":["Succeeded"]},"metadata":{"operationMetadataId":"bab65fd1-d1ad-4617-bab1-3388e2b2d45e"},"type":"Foreach"}},"runAfter":{},"metadata":{"operationMetadataId":"202a2cf2-1a3b-433f-a9fc-162cfaebf712"},"type":"Foreach"}},"runAfter":{"Initialize_TermsCollection":["Succeeded"]},"metadata":{"operationMetadataId":"574323f4-9be4-4418-bd0c-a76fc35b274a"},"type":"Scope"},"Failed_to_get_terms":{"actions":{"Throw_error_message":{"runAfter":{},"metadata":{"operationMetadataId":"725927e6-212c-40a6-bc36-e53844adf6b5"},"type":"Compose","inputs":"Failed getting terms from Term Store"}},"runAfter":{"Get_terms_scope":["Failed","TimedOut"]},"metadata":{"operationMetadataId":"4d66137c-56a8-4699-b760-bbb078029e34"},"type":"Scope"},"Global_variables":{"runAfter":{},"metadata":{"operationMetadataId":"30344310-3f97-4129-92b6-40500d9b2d99"},"type":"ParseJson","inputs":{"content":{"SiteUrl":"https://contoso.sharepoint.com","GroupIds":["b14cf680-045a-4bc5-3b77-2e6e39b3df01","75c5c150-1c44-4410-36ed-7b0d8d1c610b"]},"schema":{"type":"object","properties":{"SiteUrl":{"type":"string"},"GroupIds":{"type":"array","items":{"type":"string"}}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"1247ae9634b84a589cc6ba1d676fed45","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}