samples/graph_api_in_power_bi/sourcecode/GetOrganizationUsers/Microsoft.Flow/flows/63aa12db-ab81-4cdf-8b00-c7dc3114fd79/definition.json
{"name":"a0af7c6c-b986-4ea0-b7ad-05d4172d16e0","id":"/providers/Microsoft.Flow/flows/a0af7c6c-b986-4ea0-b7ad-05d4172d16e0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Get Organization Users","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"0cf3f9d4-2ff0-40f6-ba39-4eec8f4f62d5","type":"User","tenantId":"42242eff-faf6-4ccd-aea3-e2c4479f8ccb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-06-15T22:14:46.7290717Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{}}},"actions":{"Initialize_Do_Until_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Do Until","type":"integer","value":0}]}},"Initialize_Filter_variable":{"runAfter":{"Initialize_Do_Until_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Filter","type":"string"}]}},"Initialize_Skip_Token_variable":{"runAfter":{"Initialize_Filter_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Skip Token","type":"string"}]}},"Initialize_Next_Link_variable":{"runAfter":{"Initialize_Skip_Token_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Next Link","type":"string"}]}},"Initialize_Extract_Array_variable":{"runAfter":{"Initialize_Next_Link_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Extract","type":"string"}]}},"Initialize_Users_Array_variable":{"runAfter":{"Initialize_Extract_Array_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Users Array","type":"array"}]}},"Do_until":{"actions":{"Switch_on_Do_Until":{"runAfter":{},"cases":{"Paging_Available":{"case":1,"actions":{"Get_Organization_Users_-_Skip_Token":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"@variables('Next Link')","authentication":{"type":"ActiveDirectoryOAuth","tenant":"42242eff-faf6-4ccd-aea3-e2c4479f8ccb","audience":"https://graph.microsoft.com/","clientId":"1651628a-42d6-4845-ab1c-844ff71acd1c","secret":"hA1jR4an23WAN_d3.p6H5.c_aQjc7wht28"}}},"Parse_JSON":{"runAfter":{"Get_Organization_Users_-_Skip_Token":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Organization_Users_-_Skip_Token')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"@@odata.nextLink":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"businessPhones":{},"displayName":{},"givenName":{},"jobTitle":{},"mail":{},"mobilePhone":{},"officeLocation":{},"preferredLanguage":{},"surname":{},"userPrincipalName":{},"id":{}},"required":[]}}}}}},"Set_Extract_Array_variable_-_Paging":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Compose","inputs":{"Items":"@body('Parse_JSON')"}},"Append_to_Users_Array_variable_-_Paging":{"runAfter":{"Set_Extract_Array_variable_-_Paging":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"Users Array","value":"@outputs('Set_Extract_Array_variable_-_Paging')"}}}}},"default":{"actions":{"Get_Organization_Users":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoft-20graph-20api-20demo-5feca8e1ea20c64f-2de1df1a592ec41e","connectionName":"shared_microsoft-20graph-20api-20demo-5feca8e1ea20c64f-2de1df1a592ec41e","operationId":"GetOrganizationUsers"},"parameters":{"$Top":500,"$Filter":"jobTitle ge '!'"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_-_No_Paging":{"runAfter":{"Get_Organization_Users":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_Organization_Users')?['body']","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"@@odata.nextLink":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"businessPhones":{},"displayName":{},"givenName":{},"jobTitle":{},"mail":{},"mobilePhone":{},"officeLocation":{},"preferredLanguage":{},"surname":{},"userPrincipalName":{},"id":{}},"required":[]}}}}}},"Set_Extract_Array_variable_-_No_Paging":{"runAfter":{"Parse_JSON_-_No_Paging":["Succeeded"]},"type":"Compose","inputs":{"Items":"@body('Parse_JSON_-_No_Paging')"}},"Append_to_array_variable":{"runAfter":{"Set_Extract_Array_variable_-_No_Paging":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"Users Array","value":"@outputs('Set_Extract_Array_variable_-_No_Paging')"}}}},"expression":"@variables('Do Until')","type":"Switch"},"Set_Next_Link_variable":{"runAfter":{"Switch_on_Do_Until":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Next Link","value":"@{if(equals(variables('Do Until'),0),outputs('Get_Organization_Users')?['body']['@odata.nextLink'],outputs('Get_Organization_Users_-_Skip_Token')?['body']['@odata.nextLink'])}"}},"Set_Next_Link_variable_-_No_Paging_Available":{"runAfter":{"Set_Next_Link_variable":["Failed","Skipped"]},"type":"SetVariable","inputs":{"name":"Next Link","value":"Stop"}},"Find_text_position":{"runAfter":{"Set_Next_Link_variable_-_No_Paging_Available":["Succeeded","Skipped"]},"type":"Expression","kind":"IndexOf","inputs":{"text":"@variables('Next Link')","searchText":"v1.0"}},"String_Length":{"runAfter":{"Find_text_position":["Succeeded"]},"type":"Compose","inputs":"@sub(int(length(variables('Next Link'))),int(outputs('Find_text_position')?['body']))"},"Set_Skip_Token_variable":{"runAfter":{"String_Length":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Skip Token","value":"@{if(equals(variables('Next Link'),'Stop'),'',substring(variables('Next Link'),add(indexOf(variables('Next Link'),'v1.0'),5),sub(outputs('String_Length'),10)))}"}},"Set_Do_Until_variable":{"runAfter":{"Set_Skip_Token_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Do Until","value":"@if(equals(variables('Next Link'),'Stop'),0,1)"}}},"runAfter":{"Initialize_Users_Array_variable":["Succeeded"]},"expression":"@equals(variables('Do Until'), 0)","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Send_Response_to_Power_BI":{"runAfter":{"Do_until":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@variables('Users Array')"}}}},"connectionReferences":{"shared_microsoft-20graph-20api-20demo-5feca8e1ea20c64f-2de1df1a592ec41e":{"connectionName":"30cae939-5025-4333-bb0a-e377-ce3a4623","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoft-20graph-20api-20demo-5feca8e1ea20c64f-2de1df1a592ec41e","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}