samples/Send-Inline-Image-In-Teams-Channel/sourcecode/Microsoft.Flow/flows/0c96611b-4aee-4ee5-a94a-ac9658556d86/definition.json
{"name":"f71223ce-f327-4843-ae6d-728119509f0b","id":"/providers/Microsoft.Flow/flows/f71223ce-f327-4843-ae6d-728119509f0b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send Inline Image to MS Teams","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"d1c347b5-2e59-4123-93fc-33d82895ada1","type":"User","tenantId":"ce737df0-5c8c-48f8-ad8d-3664456c32e4"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-05-21T14:26:11.9788161Z","connectionKeySavedTimeKey":"2024-05-21T14:26:11.9788161Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"711d22e5-817a-469d-9735-a61c8684b8cd"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_file_content":{"runAfter":{},"metadata":{"%252fSiteAssets%252fgood_morning_PNG47.png":"/SiteAssets/good_morning_PNG47.png","operationMetadataId":"523d3560-92f9-4893-95ae-66256249fd8c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://pslgrp.sharepoint.com/sites/TMP","id":"%252fSiteAssets%252fgood_morning_PNG47.png","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_a_team":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"ab5eeee1-aae2-479f-abd9-6be01d1b9344"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams_2","operationId":"GetTeam"},"parameters":{"teamId":"4bf06683-bcc7-43b9-82f8-1c7df2d76177"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_channels":{"runAfter":{"Get_a_team":["Succeeded"]},"metadata":{"operationMetadataId":"47ef8e0c-3561-4f70-8b15-afca70057dec"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams_2","operationId":"GetChannelsForGroup"},"parameters":{"groupId":"@body('Get_a_team')?['id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Filter_array":{"runAfter":{"List_channels":["Succeeded"]},"metadata":{"operationMetadataId":"907f6247-ac40-4360-a6af-98809e679200"},"type":"Query","inputs":{"from":"@outputs('List_channels')?['body/value']","where":"@equals(item()?['displayName'], 'General')"}},"Send_a_Microsoft_Graph_HTTP_request":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"0aefdaed-a27f-461a-90e2-76962753bd35"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams_2","operationId":"HttpRequest"},"parameters":{"Uri":"https://graph.microsoft.com/v1.0/teams/@{outputs('Get_a_team')?['body/id']}/channels/@{first(body('Filter_array'))?['id']}/messages","Method":"POST","Body":"{\n\t\"body\": {\n        \"contentType\": \"html\",\n        \"content\": \"<div><div>\\n<div><span><img height=\\\"297\\\" src=\\\"../hostedContents/1/$value\\\" width=\\\"297\\\" style=\\\"vertical-align:bottom; width:297px; height:297px\\\"></span>\\n\\n</div>Good Morning!</div>\\n</div>\"\n    },\n    \"hostedContents\":[\n        {\n          \"@microsoft.graph.temporaryId\": \"1\",\n          \"contentBytes\": \"@{body('Get_file_content')?['$content']}\",\n            \"contentType\": \"@{body('Get_file_content')?['$content-type']}\"\n        }\n    ]\n}\n","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3ccf9fd5c5cb4b438d3e1c4864771dca","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams_2":{"connectionName":"shared-teams-995aa192-a111-4d7b-b4ef-d10bf1c6721b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}