samples/working-with-xpath-expressions/sourcecode/Microsoft.Flow/flows/287e25a0-d306-41ff-a633-c4ce1f9b08a5/definition.json
{"name":"970bda3b-ce41-407c-a96e-00b8eebf8f17","id":"/providers/Microsoft.Flow/flows/970bda3b-ce41-407c-a96e-00b8eebf8f17","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"working-with-xpath-expressions","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"707902a9-1ef8-434f-8402-8a7dcd4cc896","type":"User","tenantId":"67fb2df5-b03d-4524-b34e-65954a9b1f3d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-01T13:26:15.2535095Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"fd5ecf66-a4d6-4e72-8137-470e275f59f0"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Sample_of_complex_JSON_nesting_of_objects_and_arrays":{"runAfter":{},"metadata":{"operationMetadataId":"a029961d-66ff-49ba-aad6-b45852412f8a"},"type":"Compose","inputs":{"customers":[{"id":"001","personalInfo":{"firstName":"Luke","lastName":"Skywalker","email":"luke@rebellion.net","phone":"123-456-7890","address":{"street":"Tatooine Farm","city":"Mos Eisley","state":"Tatooine","postalCode":"00001","country":"Galactic Empire"},"birthdate":"1980-05-25","gender":"Male","preferredLanguage":"Galactic Basic"},"purchases":[{"product":{"name":"Lightsaber","category":"Weapons"},"price":400,"quantity":1,"date":"2023-08-21"},{"product":{"name":"X-Wing Starfighter","category":"Starships"},"price":80000,"quantity":1,"date":"2023-04-11"}],"preferences":{"categories":["Starships","Weapons"],"colors":["Blue","Green"],"shipping":{"method":"Hyperdrive","address":{"street":"Tatooine Farm","city":"Mos Eisley","state":"Tatooine","postalCode":"00001","country":"Galactic Empire"}}},"loyalty":{"status":"Jedi Knight","points":10000,"tierBenefits":{"discount":10,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Death Star Plans","category":"Intelligence"},"priority":1}],"reviews":[{"product":{"name":"Lightsaber","category":"Weapons"},"rating":5,"text":"The Force is strong with this one."}],"interactions":[{"type":"Battle","date":"2023-05-04","subject":"Destruction of Death Star"}]},{"id":"002","personalInfo":{"firstName":"Leia","lastName":"Organa","email":"leia@rebellion.net","phone":"234-567-8901","address":{"street":"Alderaan Palace","city":"Aldera","state":"Alderaan","postalCode":"00002","country":"Galactic Empire"},"birthdate":"1980-04-22","gender":"Female","preferredLanguage":"Galactic Basic"},"purchases":[{"product":{"name":"Blaster Pistol","category":"Weapons"},"price":300,"quantity":1,"date":"2023-02-13"},{"product":{"name":"Tantive IV","category":"Starships"},"price":50000,"quantity":1,"date":"2023-05-18"}],"preferences":{"categories":["Starships","Weapons"],"colors":["White","Red"],"shipping":{"method":"Hyperdrive","address":{"street":"Alderaan Palace","city":"Aldera","state":"Alderaan","postalCode":"00002","country":"Galactic Empire"}}},"loyalty":{"status":"Rebel Leader","points":15000,"tierBenefits":{"discount":15,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Death Star Plans","category":"Intelligence"},"priority":1}],"reviews":[{"product":{"name":"Blaster Pistol","category":"Weapons"},"rating":4,"text":"Accurate and reliable in combat situations."}],"interactions":[{"type":"Mission","date":"2023-06-06","subject":"Rescue of Han Solo"}]},{"id":"003","personalInfo":{"firstName":"Han","lastName":"Solo","email":"han@rebellion.net","phone":"345-678-9012","address":{"street":"Millennium Falcon","city":"Mos Eisley","state":"Tatooine","postalCode":"00003","country":"Galactic Empire"},"birthdate":"1977-07-18","gender":"Male","preferredLanguage":"Galactic Basic"},"purchases":[{"product":{"name":"Blaster Pistol","category":"Weapons"},"price":300,"quantity":1,"date":"2023-03-14"},{"product":{"name":"Millennium Falcon","category":"Starships"},"price":100000,"quantity":1,"date":"2023-05-19"}],"preferences":{"categories":["Starships","Weapons"],"colors":["Black","Brown"],"shipping":{"method":"Hyperdrive","address":{"street":"Millennium Falcon","city":"Mos Eisley","state":"Tatooine","postalCode":"00003","country":"Galactic Empire"}}},"loyalty":{"status":"Smuggler","points":12000,"tierBenefits":{"discount":10,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Death Star Plans","category":"Intelligence"},"priority":1}],"reviews":[{"product":{"name":"Blaster Pistol","category":"Weapons"},"rating":5,"text":"Perfect for any situation, a real lifesaver."}],"interactions":[{"type":"Mission","date":"2023-07-07","subject":"Kessel Run"}]},{"id":"004","personalInfo":{"firstName":"Chewbacca","lastName":"","email":"chewie@rebellion.net","phone":"456-789-0123","address":{"street":"Millennium Falcon","city":"Mos Eisley","state":"Tatooine","postalCode":"00004","country":"Galactic Empire"},"birthdate":"180-05-20","gender":"Male","preferredLanguage":"Shyriiwook"},"purchases":[{"product":{"name":"Bowcaster","category":"Weapons"},"price":500,"quantity":1,"date":"2023-01-11"},{"product":{"name":"Porg","category":"Pets"},"price":20,"quantity":1,"date":"2023-05-22"}],"preferences":{"categories":["Weapons","Pets"],"colors":["Brown","Black"],"shipping":{"method":"Hyperdrive","address":{"street":"Millennium Falcon","city":"Mos Eisley","state":"Tatooine","postalCode":"00004","country":"Galactic Empire"}}},"loyalty":{"status":"Co-pilot","points":11000,"tierBenefits":{"discount":10,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Death Star Plans","category":"Intelligence"},"priority":1}],"reviews":[{"product":{"name":"Bowcaster","category":"Weapons"},"rating":5,"text":"Powerful and accurate, a Wookiee's best friend."}],"interactions":[{"type":"Mission","date":"2023-08-08","subject":"Rescue of Princess Leia"}]},{"id":"005","personalInfo":{"firstName":"Darth","lastName":"Vader","email":"vader@empire.net","phone":"567-890-1234","address":{"street":"Death Star","city":"Galactic Center","state":"Galactic Empire","postalCode":"00005","country":"Galactic Empire"},"birthdate":"1944-03-22","gender":"Male","preferredLanguage":"Galactic Basic"},"purchases":[{"product":{"name":"Lightsaber","category":"Weapons"},"price":400,"quantity":1,"date":"2023-04-20"},{"product":{"name":"TIE Advanced x1","category":"Starships"},"price":75000,"quantity":1,"date":"2023-05-23"}],"preferences":{"categories":["Starships","Weapons"],"colors":["Black","Red"],"shipping":{"method":"Hyperdrive","address":{"street":"Death Star","city":"Galactic Center","state":"Galactic Empire","postalCode":"00005","country":"Galactic Empire"}}},"loyalty":{"status":"Sith Lord","points":20000,"tierBenefits":{"discount":20,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Death Star Plans","category":"Intelligence"},"priority":1}],"reviews":[{"product":{"name":"Lightsaber","category":"Weapons"},"rating":5,"text":"I am your Father."}],"interactions":[{"type":"Battle","date":"2023-09-09","subject":"Duel with Obi-Wan Kenobi"}]},{"id":"006","personalInfo":{"firstName":"Obi-Wan","lastName":"Kenobi","email":"kenobi@jediorder.net","phone":"678-901-2345","address":{"street":"Ben's Hut","city":"Dune Sea","state":"Tatooine","postalCode":"00006","country":"Galactic Empire"},"birthdate":"1932-07-10","gender":"Male","preferredLanguage":"Galactic Basic"},"purchases":[{"product":{"name":"Lightsaber","category":"Weapons"},"price":400,"quantity":1,"date":"2023-06-03"}],"preferences":{"categories":["Weapons"],"colors":["Blue"],"shipping":{"method":"Hyperdrive","address":{"street":"Ben's Hut","city":"Dune Sea","state":"Tatooine","postalCode":"00006","country":"Galactic Empire"}}},"loyalty":{"status":"Jedi Master","points":20000,"tierBenefits":{"discount":20,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Death Star Plans","category":"Intelligence"},"priority":1}],"reviews":[{"product":{"name":"Lightsaber","category":"Weapons"},"rating":5,"text":"The weapon of a Jedi Knight. Not as clumsy or random as a blaster."}],"interactions":[{"type":"Battle","date":"2023-09-09","subject":"Duel with Darth Vader"}]},{"id":"007","personalInfo":{"firstName":"Yoda","lastName":"","email":"yoda@jediorder.net","phone":"789-012-3456","address":{"street":"Yoda's Hut","city":"Swamp","state":"Dagobah","postalCode":"00007","country":"Galactic Empire"},"birthdate":"896-02-15","gender":"Male","preferredLanguage":"Galactic Basic"},"purchases":[{"product":{"name":"Lightsaber","category":"Weapons"},"price":400,"quantity":1,"date":"2023-01-04"}],"preferences":{"categories":["Weapons"],"colors":["Green"],"shipping":{"method":"Hyperdrive","address":{"street":"Yoda's Hut","city":"Swamp","state":"Dagobah","postalCode":"00007","country":"Galactic Empire"}}},"loyalty":{"status":"Jedi Master","points":25000,"tierBenefits":{"discount":25,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[],"reviews":[{"product":{"name":"Lightsaber","category":"Weapons"},"rating":5,"text":"A Jedi's weapon, this is."}],"interactions":[{"type":"Training","date":"2023-06-06","subject":"Training Luke Skywalker"}]},{"id":"008","personalInfo":{"firstName":"Lando","lastName":"Calrissian","email":"lando@cloudcity.net","phone":"890-123-4567","address":{"street":"Cloud City","city":"Bespin","state":"Outer Rim Territories","postalCode":"00008","country":"Galactic Empire"},"birthdate":"1937-04-27","gender":"Male","preferredLanguage":"Galactic Basic"},"purchases":[{"product":{"name":"Bespin Guard Blaster","category":"Weapons"},"price":300,"quantity":1,"date":"2023-03-13"}],"preferences":{"categories":["Weapons"],"colors":["Blue"],"shipping":{"method":"Hyperdrive","address":{"street":"Cloud City","city":"Bespin","state":"Outer Rim Territories","postalCode":"00008","country":"Galactic Empire"}}},"loyalty":{"status":"Baron Administrator","points":15000,"tierBenefits":{"discount":15,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Millennium Falcon","category":"Starships"},"priority":1}],"reviews":[{"product":{"name":"Bespin Guard Blaster","category":"Weapons"},"rating":4,"text":"Sturdy and reliable, just what I needed."}],"interactions":[{"type":"Deal","date":"2023-07-07","subject":"Deal with Darth Vader"}]},{"id":"009","personalInfo":{"firstName":"C-3PO","lastName":"","email":"c3po@droids.net","phone":"901-234-5678","address":{"street":"Rebel Base","city":"Yavin IV","state":"Outer Rim Territories","postalCode":"00009","country":"Rebel Alliance"},"birthdate":"112-12-10","gender":"Droid","preferredLanguage":"Over 6 million forms of communication"},"purchases":[{"product":{"name":"Oil Bath","category":"Maintenance"},"price":10,"quantity":1,"date":"2023-02-14"}],"preferences":{"categories":["Maintenance"],"colors":["Gold"],"shipping":{"method":"Hyperdrive","address":{"street":"Rebel Base","city":"Yavin IV","state":"Outer Rim Territories","postalCode":"00009","country":"Rebel Alliance"}}},"loyalty":{"status":"Protocol Droid","points":1000,"tierBenefits":{"discount":5,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Oil Bath","category":"Maintenance"},"priority":1}],"reviews":[],"interactions":[{"type":"Mission","date":"2023-05-05","subject":"Aid in Destruction of Death Star"}]},{"id":"010","personalInfo":{"firstName":"R2-D2","lastName":"","email":"r2d2@droids.net","phone":"012-345-6789","address":{"street":"Rebel Base","city":"Yavin IV","state":"Outer Rim Territories","postalCode":"00010","country":"Rebel Alliance"},"birthdate":"112-12-10","gender":"Droid","preferredLanguage":"Beeps and Whistles"},"purchases":[{"product":{"name":"Astromech Tools","category":"Maintenance"},"price":50,"quantity":1,"date":"2023-03-15"}],"preferences":{"categories":["Maintenance"],"colors":["White","Blue"],"shipping":{"method":"Hyperdrive","address":{"street":"Rebel Base","city":"Yavin IV","state":"Outer Rim Territories","postalCode":"00010","country":"Rebel Alliance"}}},"loyalty":{"status":"Astromech Droid","points":2000,"tierBenefits":{"discount":10,"freeShipping":"Yes","exclusiveOffers":"Yes"}},"wishlist":[{"product":{"name":"Astromech Tools","category":"Maintenance"},"priority":1}],"reviews":[],"interactions":[{"type":"Mission","date":"2023-04-04","subject":"Deliver Death Star Plans to Obi-Wan Kenobi"}]}]}},"Nested_objects_inside_'root'_object":{"actions":{"Select_-_email":{"runAfter":{},"metadata":{"operationMetadataId":"1bad1882-3328-4efd-8426-45f16d2c3b96"},"type":"Select","inputs":{"from":"@outputs('Sample_of_complex_JSON_nesting_of_objects_and_arrays')?['customers']","select":{"email":"@trim(item()?['personalInfo']?['email'])"}}},"Wrap_sample_data_inside_a_root_object_1":{"runAfter":{"Select_-_id":["Succeeded"]},"metadata":{"operationMetadataId":"ddebfb73-cd86-4135-8eab-b7b7ccfde7ad"},"type":"Compose","inputs":{"root":{"email":"@body('Select_-_email')","id":"@body('Select_-_id')"}}},"Return_all_email_inside_array_1":{"runAfter":{"Wrap_sample_data_inside_a_root_object_1":["Succeeded"]},"metadata":{"operationMetadataId":"3690a4e7-64bb-4d8c-a1dc-92d3d114f792"},"type":"Compose","inputs":"@xpath(xml(outputs('Wrap_sample_data_inside_a_root_object_1')), '/root/email/email/text()')"},"Select_-_id":{"runAfter":{"Select_-_email":["Succeeded"]},"metadata":{"operationMetadataId":"f00b5b57-1588-4120-83c1-3c8bde1688dc"},"type":"Select","inputs":{"from":"@outputs('Sample_of_complex_JSON_nesting_of_objects_and_arrays')?['customers']","select":{"id":"@item()?['id']"}}},"Return_all_id_inside_array":{"runAfter":{"Return_all_email_inside_array_1":["Succeeded"]},"metadata":{"operationMetadataId":"3690a4e7-64bb-4d8c-a1dc-92d3d114f792"},"type":"Compose","inputs":"@xpath(xml(outputs('Wrap_sample_data_inside_a_root_object_1')), '/root/id/id/text()')"}},"runAfter":{"Sample_of_complex_JSON_nesting_of_objects_and_arrays":["Succeeded"]},"metadata":{"operationMetadataId":"ac08e2a0-7a66-4e9d-9922-71961127b80c"},"type":"Scope"},"Only_'root'_object":{"actions":{"Wrap_sample_data_inside_a_root_object":{"runAfter":{},"metadata":{"operationMetadataId":"ddebfb73-cd86-4135-8eab-b7b7ccfde7ad"},"type":"Compose","inputs":{"root":"@outputs('Sample_of_complex_JSON_nesting_of_objects_and_arrays')"}},"Convert_JSON_to_XML":{"runAfter":{"Wrap_sample_data_inside_a_root_object":["Succeeded"]},"metadata":{"operationMetadataId":"948805fb-b8cd-412a-8d1e-1963a2a4e0f5"},"type":"Compose","inputs":"@xml(outputs('Wrap_sample_data_inside_a_root_object'))"},"Return_all_customers":{"runAfter":{"Convert_JSON_to_XML":["Succeeded"]},"metadata":{"operationMetadataId":"7f5d2a78-18e4-4698-a055-e05c1b5ec3c2"},"type":"Select","inputs":{"from":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers')","select":{"Customers":"@json(xml(decodeBase64(item()?['$content'])))"}}},"Return_a_single_array_with_all_first_names":{"runAfter":{"Return_all_customers":["Succeeded"]},"metadata":{"operationMetadataId":"6ff1d089-3ecd-41c9-b7a7-07ff858941d6"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers/personalInfo/firstName/text()')"},"Return_all_email_inside_array":{"runAfter":{"Return_a_single_array_with_all_first_names":["Succeeded"]},"metadata":{"operationMetadataId":"7bc97ff7-d69c-45d8-a1c4-e8be4b882407"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers/personalInfo/email/text()')"},"Return_the_names_of_all_products_purchased":{"runAfter":{"Return_all_email_inside_array":["Succeeded"]},"metadata":{"operationMetadataId":"7bc97ff7-d69c-45d8-a1c4-e8be4b882407"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '//purchases/product/name/text()')"},"Count_purchases_by_customer_with_id_007":{"runAfter":{"Return_the_names_of_all_products_purchased":["Succeeded"]},"metadata":{"operationMetadataId":"7bc97ff7-d69c-45d8-a1c4-e8be4b882407"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), 'count(//customers[id=\"007\"]/purchases)')"},"Return_all_reviews_written_by_customers":{"runAfter":{"Count_purchases_by_customer_with_id_007":["Succeeded"]},"metadata":{"operationMetadataId":"f174fc45-8c53-4515-ad16-e02105cf3ea9"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers/reviews/text/text()')"},"Return_the_preferred_language_of_Yoda":{"runAfter":{"Return_all_reviews_written_by_customers":["Succeeded"]},"metadata":{"operationMetadataId":"24adbc45-8377-4310-89cf-51f113d1d999"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[personalInfo/firstName=\"Yoda\"]/personalInfo/preferredLanguage/text()')"},"Return_the_total_loyalty_points_of_Han_Solo":{"runAfter":{"Return_the_preferred_language_of_Yoda":["Succeeded"]},"metadata":{"operationMetadataId":"f39b2f8a-324e-4efa-88eb-9ae8cec51519"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[personalInfo/firstName=\"Han\" and personalInfo/lastName=\"Solo\"]/loyalty/points/text()')"},"Return_customers_with_'Starships'_as_preference_category":{"runAfter":{"Return_the_total_loyalty_points_of_Han_Solo":["Succeeded"]},"metadata":{"operationMetadataId":"4732f46b-8936-441b-bc5a-aef3a8940acf"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[preferences/categories=\"Starships\"]/personalInfo/firstName/text()')"},"Return_product_rating_for_'Lightsaber'_by_Darth_Vader":{"runAfter":{"Return_customers_with_'Starships'_as_preference_category":["Succeeded"]},"metadata":{"operationMetadataId":"b43d7da3-0f4a-4748-bd52-13af74d4a802"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[personalInfo/firstName=\"Darth\" and personalInfo/lastName=\"Vader\"]/reviews[product/name=\"Lightsaber\"]/rating/text()')"},"Return_all_products_purchased_by_Leia_Organa":{"runAfter":{"Return_product_rating_for_'Lightsaber'_by_Darth_Vader":["Succeeded"]},"metadata":{"operationMetadataId":"919df5e8-d3f7-492a-a776-291179206630"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[personalInfo/firstName=\"Leia\" and personalInfo/lastName=\"Organa\"]/purchases/product/name/text()')"},"Return_the_email_of_a_customer_with_id_001":{"runAfter":{"Return_all_products_purchased_by_Leia_Organa":["Succeeded"]},"metadata":{"operationMetadataId":"437aa367-26cf-4e74-b9d8-f56931f66edd"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[id=\"001\"]/personalInfo/email/text()')"},"Return_all_customers_id":{"runAfter":{"Return_the_email_of_a_customer_with_id_001":["Succeeded"]},"metadata":{"operationMetadataId":"be8feefb-d4f3-43cd-bb17-bd92aefb9512"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers/id/text()')"},"Return_date_of_birth_of_all_customers":{"runAfter":{"Return_all_customers_id":["Succeeded"]},"metadata":{"operationMetadataId":"2fa0012c-2de7-4ebe-aba1-2987cb3c6644"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers/personalInfo/birthdate/text()')"},"Return_the_first_customer_with_preference_category_'Starships'":{"runAfter":{"Return_date_of_birth_of_all_customers":["Succeeded"]},"metadata":{"operationMetadataId":"c89b40db-410b-4a35-98b8-0a39ecc6eac9"},"type":"Compose","inputs":"@json(xml(decodeBase64(first(xpath(outputs('Convert_JSON_to_XML'), '/root/customers[preferences/categories=\"Starships\"][1]'))['$content'])))"},"Return_the_last_customer_with_preference_category_'Starships'":{"runAfter":{"Return_the_first_customer_with_preference_category_'Starships'":["Succeeded"]},"metadata":{"operationMetadataId":"c89b40db-410b-4a35-98b8-0a39ecc6eac9"},"type":"Compose","inputs":"@json(xml(decodeBase64(first(xpath(outputs('Convert_JSON_to_XML'), '/root/customers[preferences/categories=\"Starships\"][last()]'))['$content'])))"},"Return_the_rating_and_text_of_reviews_for_a_specific_product":{"runAfter":{"Return_the_last_customer_with_preference_category_'Starships'":["Succeeded"]},"metadata":{"operationMetadataId":"2fa0012c-2de7-4ebe-aba1-2987cb3c6644"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers/reviews[product/name=\"Lightsaber\"]/rating/text() | /root/customers/reviews[product/name=\"Lightsaber\"]/text/text()')"},"Return_date_of_birth_for_customers_with_prefered_language_'Galactic_Basic'":{"runAfter":{"Return_the_rating_and_text_of_reviews_for_a_specific_product":["Succeeded"]},"metadata":{"operationMetadataId":"2fa0012c-2de7-4ebe-aba1-2987cb3c6644"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[personalInfo/preferredLanguage=\"Galactic Basic\"]/personalInfo/birthdate/text()')"},"Return_the_wishlist_products_and_priority_according_to_customer_id":{"runAfter":{"Return_date_of_birth_for_customers_with_prefered_language_'Galactic_Basic'":["Succeeded"]},"metadata":{"operationMetadataId":"2fa0012c-2de7-4ebe-aba1-2987cb3c6644"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[id=\"004\"]/wishlist/product/name/text() | /root/customers[id=\"004\"]/wishlist/priority/text()')"},"Return_loyalty_points_where_loyalty_status_eq_'Jedi_Master'":{"runAfter":{"Return_the_wishlist_products_and_priority_according_to_customer_id":["Succeeded"]},"metadata":{"operationMetadataId":"2fa0012c-2de7-4ebe-aba1-2987cb3c6644"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[loyalty/status=\"Jedi Master\"]/loyalty/points/text()')"},"Return_names_of_customers_who_purchased_a_'Lightsaber'":{"runAfter":{"Return_loyalty_points_where_loyalty_status_eq_'Jedi_Master'":["Succeeded"]},"metadata":{"operationMetadataId":"2fa0012c-2de7-4ebe-aba1-2987cb3c6644"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[purchases/product/name=\"Lightsaber\"]/personalInfo/firstName/text() | /root/customers[purchases/product/name=\"Lightsaber\"]/personalInfo/lastName/text()')"},"Return_preferred_colors_when_loyalty_points_greater_than_20000":{"runAfter":{"Return_names_of_customers_who_purchased_a_'Lightsaber'":["Succeeded"]},"metadata":{"operationMetadataId":"790ac1d0-71f8-41cc-9c32-29813ce32c67"},"type":"Compose","inputs":"@xpath(outputs('Convert_JSON_to_XML'), '/root/customers[loyalty/points > 20000]/preferences/colors/text()')"}},"runAfter":{"Sample_of_complex_JSON_nesting_of_objects_and_arrays":["Succeeded"]},"metadata":{"operationMetadataId":"d92a183f-a012-4070-83a9-136fa5673d72"},"type":"Scope"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}