samples/sharepoint-hide-folders-in-library-view/sourcecode/Microsoft.Flow/flows/8968548c-ead2-46a5-8d3a-6a475e5c354d/definition.json
{"name":"4b843aa9-2303-4818-938b-e5dad2e6496a","id":"/providers/Microsoft.Flow/flows/4b843aa9-2303-4818-938b-e5dad2e6496a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SharePoint Hide folders in document library view","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4501f184-e315-4ffd-8ad4-2662871cb321","type":"User","tenantId":"76938e21-5fe8-45e4-b53f-14f126ed8272"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-11-18T12:25:56.371031Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"3fb3d2f7-1a61-439c-adc3-c0b08a85f532"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_variable_-_LibraryName":{"runAfter":{},"metadata":{"operationMetadataId":"ccc8a2a8-25ce-473c-854d-ccff2379cf1f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"LibraryName","type":"string","value":"Documents"}]},"description":"Use variable to store the name of the Document Library"},"Initialize_variable_-_ViewName":{"runAfter":{"Initialize_variable_-_LibraryName":["Succeeded"]},"metadata":{"operationMetadataId":"68d14ac9-1226-4b90-bcbb-0217d50852ad"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ViewName","type":"string","value":"View with Folders"}]},"description":"Use variable to store the name of the View"},"Send_an_HTTP_request_to_SharePoint_-_GetView":{"runAfter":{"Initialize_variable_-_ViewName":["Succeeded"]},"metadata":{"operationMetadataId":"06fcdbfd-5b53-4142-9ac5-850c9fd419ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://m365x61805836.sharepoint.com/sites/Retail","parameters/method":"GET","parameters/uri":"_api/web/lists/getbytitle('@{variables('LibraryName')}')/Views?$filter=Title eq '@{variables('ViewName')}'&$select=Id","parameters/headers":{"Accept":"application/json;odata=nometadata","Content-Type":"application/json;odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Use this first Request to retrieve the Id of the view you want to update"},"Send_an_HTTP_request_to_SharePoint_-_UpdateView":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_GetView":["Succeeded"]},"metadata":{"operationMetadataId":"06fcdbfd-5b53-4142-9ac5-850c9fd419ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://m365x61805836.sharepoint.com/sites/Retail","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('@{variables('LibraryName')}')/Views/getById('@{body('Send_an_HTTP_request_to_SharePoint_-_GetView')['value'][0]['Id']}')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","If-Match":"*","X-HTTP-Method":"PATCH"},"parameters/body":"{\n\"__metadata\": { \"type\": \"SP.View\"},\n\"Scope\": 1\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"body('Send_an_HTTP_request_to_SharePoint_-_GetView')['value'][0]['Id']"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-a1d8cc72-07b5-4c40-8630-00cdfabcdac8","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}