samples/get-sharepoint-site-information/sourcecode/Microsoft.Flow/flows/42b73dde-e825-4424-9f84-47766b1ac69e/definition.json
{"name":"c81737f1-c259-441f-9ff9-ad411dec8340","id":"/providers/Microsoft.Flow/flows/c81737f1-c259-441f-9ff9-ad411dec8340","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"get-sharepoint-site-information","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"707902a9-1ef8-434f-8402-8a7dcd4cc896","type":"User","tenantId":"67fb2df5-b03d-4524-b34e-65954a9b1f3d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-03T18:51:01.973573Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"9d4e260f-4224-453d-a8f4-94368895051d"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Site name","type":"string","x-ms-dynamically-added":true,"description":"For email subject","x-ms-content-hint":"TEXT"}},"required":["text"]},"headersSchema":{"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Settings":{"runAfter":{},"metadata":{"operationMetadataId":"8d29fde9-98e3-42d7-8502-01cb8fc05d3a"},"type":"Compose","inputs":{"siteUrl":"https://your-sharepoint-domain>.sharepoint.com/sites/your-site-name"},"description":"Replace siteUrl with your own siteUrl"},"Email_styling":{"runAfter":{"Settings":["Succeeded"]},"metadata":{"operationMetadataId":"bdf196c2-fa97-4b5a-a6ac-72e4bb940eed"},"type":"Compose","inputs":"<style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      font-size: 14px;\n      margin: 0;\n      padding: 20px;\n      background-color: #f4f4f4;\n    }\n    strong {\n      display: block;\n      margin-bottom: 10px;\n      font-size: 16px;\n      color: #444;\n    }\n    table {\n      border: 1px solid #ccc;\n      background-color: #fff;\n      width: 100%;\n      text-align: left;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n    }\n    table td, table th {\n      border: 1px solid #ccc;\n      padding: 8px 12px;\n    }\n    table thead {\n      background-color: #0063B1;\n    }\n    table thead th {\n      font-weight: bold;\n      color: #ffffff;\n      padding: 10px;\n      text-align: left;\n    }\n  </style>"},"Send_an_HTTP_request_to_SharePoint_-_Get_role_definitions":{"runAfter":{"Email_styling":["Succeeded"]},"metadata":{"operationMetadataId":"0327d03f-30b7-40dc-ac97-f3636d188569"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@outputs('Settings')['siteUrl']","parameters/method":"GET","parameters/uri":"_api/web/roledefinitions?$select=Name, Id, Description&$orderby=Name asc","parameters/headers":{"Accept":"application/json;odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Map_role_definitions":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_Get_role_definitions":["Succeeded"]},"metadata":{"operationMetadataId":"2d1abf19-75dc-4de0-9d41-a62fcc3bced3"},"type":"Select","inputs":{"from":"@body('Send_an_HTTP_request_to_SharePoint_-_Get_role_definitions')?['value']","select":{"Permission name":"@item()?['Name']","Permission mask":"@item()['Id']","Description":"@if(empty(item()?['Description']), '-', item()?['Description'])"}}},"HTML_table_role_definitions":{"runAfter":{"Map_role_definitions":["Succeeded"]},"metadata":{"operationMetadataId":"03d1b95a-1111-4144-8bbe-8201acf37c88"},"type":"Table","inputs":{"from":"@body('Map_role_definitions')","format":"HTML"}},"Escape_special_characters_role_definitions":{"runAfter":{"HTML_table_role_definitions":["Succeeded"]},"metadata":{"operationMetadataId":"c6920d61-719b-4cf6-8616-e247963eeabf"},"type":"Compose","inputs":"@replace(replace(replace(replace(replace(body('HTML_table_role_definitions'),'&lt;','<'),'&gt;','>'),'&amp;', '&'),'&#39;','\"'), '&quot;','\"')"},"Escape_special_characters_groups":{"runAfter":{"HTML_table_groups":["Succeeded"]},"metadata":{"operationMetadataId":"2178ed2a-4ccd-4a42-9689-915e22ac4aa5"},"type":"Compose","inputs":"@replace(replace(replace(replace(replace(body('HTML_table_groups'), '&lt;', '<'), '&gt;', '>'), '&amp;', '&'), '&#39;', '\"'), '&quot;', '\"')"},"HTML_table_groups":{"runAfter":{"Map_groups":["Succeeded"]},"metadata":{"operationMetadataId":"4f79c120-225b-4a1d-add8-01be8caf1351"},"type":"Table","inputs":{"from":"@body('Map_groups')","format":"HTML"}},"Map_groups":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_Get_groups":["Succeeded"]},"metadata":{"operationMetadataId":"8d163666-92b8-4848-ba2d-137ceaca9ac8"},"type":"Select","inputs":{"from":"@body('Send_an_HTTP_request_to_SharePoint_-_Get_groups')['value']","select":{"Group name":"@item()?['Title']","Group id":"@item()?['Id']"}}},"Send_an_HTTP_request_to_SharePoint_-_Get_groups":{"runAfter":{"Email_styling":["Succeeded"]},"metadata":{"operationMetadataId":"d2238a01-961d-441e-9fe0-6148c9a45c92"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@outputs('Settings')['siteUrl']","parameters/method":"GET","parameters/uri":"_api/web/SiteGroups?$select=Title, Id&$orderby=Title asc","parameters/headers":{"Accept":"application/json;odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Escape_special_characters_lists":{"runAfter":{"HTML_table_lists":["Succeeded"]},"metadata":{"operationMetadataId":"2178ed2a-4ccd-4a42-9689-915e22ac4aa5"},"type":"Compose","inputs":"@replace(replace(replace(replace(replace(body('HTML_table_lists'), '&lt;', '<'), '&gt;', '>'), '&amp;', '&'), '&#39;', '\"'), '&quot;', '\"')"},"HTML_table_lists":{"runAfter":{"Map_lists":["Succeeded"]},"metadata":{"operationMetadataId":"4f79c120-225b-4a1d-add8-01be8caf1351"},"type":"Table","inputs":{"from":"@body('Map_lists')","format":"HTML"}},"Map_lists":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_Get_lists":["Succeeded"]},"metadata":{"operationMetadataId":"8d163666-92b8-4848-ba2d-137ceaca9ac8"},"type":"Select","inputs":{"from":"@body('Send_an_HTTP_request_to_SharePoint_-_Get_lists')?['value']","select":{"List name":"@item()['Title']","GUID":"@item()['Id']"}}},"Send_an_HTTP_request_to_SharePoint_-_Get_lists":{"runAfter":{"Email_styling":["Succeeded"]},"metadata":{"operationMetadataId":"d2238a01-961d-441e-9fe0-6148c9a45c92"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@outputs('Settings')['siteUrl']","parameters/method":"GET","parameters/uri":"_api/web/lists?$filter= Hidden eq false&$select=Title, Id&$orderby=Title asc","parameters/headers":{"Accept":"application/json;odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Escape_special_characters_site_users_and_groups":{"runAfter":{"HTML_table_site_users":["Succeeded"]},"metadata":{"operationMetadataId":"2178ed2a-4ccd-4a42-9689-915e22ac4aa5"},"type":"Compose","inputs":"@replace(replace(replace(replace(replace(body('HTML_table_site_users'), '&lt;', '<'), '&gt;', '>'), '&amp;', '&'), '&#39;', '\"'), '&quot;', '\"')"},"HTML_table_site_users":{"runAfter":{"Map_site_users":["Succeeded"]},"metadata":{"operationMetadataId":"4f79c120-225b-4a1d-add8-01be8caf1351"},"type":"Table","inputs":{"from":"@body('Map_site_users')","format":"HTML"}},"Map_site_users":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_Get_site_users":["Succeeded"]},"metadata":{"operationMetadataId":"8d163666-92b8-4848-ba2d-137ceaca9ac8"},"type":"Select","inputs":{"from":"@body('Send_an_HTTP_request_to_SharePoint_-_Get_site_users')?['value']","select":{"Display name":"@item()?['Title']","Email":"@item()?['Email']"}}},"Send_an_HTTP_request_to_SharePoint_-_Get_site_users":{"runAfter":{"Email_styling":["Succeeded"]},"metadata":{"operationMetadataId":"d2238a01-961d-441e-9fe0-6148c9a45c92"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@outputs('Settings')['siteUrl']","parameters/method":"GET","parameters/uri":"_api/web/SiteUsers?$filter=Email ne '@{null}' &$select=Title, Email&$orderby=Title asc","parameters/headers":{"Accept":"application/json;odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Escape_special_characters_role_definitions":["Succeeded"],"Escape_special_characters_groups":["Succeeded"],"Escape_special_characters_lists":["Succeeded"],"Escape_special_characters_site_users_and_groups":["Succeeded"]},"metadata":{"operationMetadataId":"ab261511-9872-4efc-8a5e-e9db91b243c0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{triggerOutputs()['headers']['x-ms-user-email-encoded']};","emailMessage/Subject":"Site information - @{triggerBody()['text']}","emailMessage/Body":"<html>\n<head>\n  @{outputs('Email_styling')}\n</head>\n<body>\n  <strong>Group names and Id</strong>\n  <table>\n    @{outputs('Escape_special_characters_groups')}\n  </table>\n\n  <strong>List names and GUID</strong>\n  <table>\n    @{outputs('Escape_special_characters_lists')}\n  </table>\n\n  <strong>Role definitions</strong>\n  <table>\n    @{outputs('Escape_special_characters_role_definitions')}\n  </table>\n\n  <strong>Site users</strong>\n  <table>\n    @{outputs('Escape_special_characters_site_users_and_groups')}\n  </table>\n</body>\n</html>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"b5980d5f8406465c87ff82e73c676b25","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-ff09b2bd-7e87-4ad1-981a-aaa01223a0c4","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}