sourcecode/Workflows/GetdataforAccountusingAzureOpenAI-F195374F-5BD8-ED11-A7C6-6045BDF5263A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "kchdev_sharedcommondataserviceforapps_3464e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_kch-5fazure-20open-20ai-20for-20crm-5ff73fc8ceb8bd1dfd": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "kch_sharedkch5fazure20open20ai20for20crm5ff73fc8ceb8bd1dfd_1d575"
        },
        "api": {
          "name": "shared_kch-5Fazure-20open-20ai-20for-20crm-5Ff73fc8ceb8bd1dfd",
          "logicalName": "kch_5Fazure-20open-20ai-20for-20crm"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "API key (kch_apikey)": {
          "type": "String",
          "metadata": {
            "schemaName": "kch_apikey",
            "description": "Put here api key from your Azure Open AI"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "1d5060ba-3989-4fde-9337-e69a1e2c246b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "_VarEmployees": {
          "runAfter": {
            "VarResponse": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4d09323b-d786-4c5e-aded-6c5db75c7434"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": " VarEmployees",
                "type": "string"
              }
            ]
          }
        },
        "VarIndustry": {
          "runAfter": {
            "_VarEmployees": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f335b240-33dd-490d-8c03-0f3d2189c7ea"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "VarIndustry",
                "type": "string"
              }
            ]
          }
        },
        "VarNews": {
          "runAfter": {
            "VarIndustry": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e59803fa-ce6e-49c9-9fe7-bf00e53aee7e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "VarNews",
                "type": "string"
              }
            ]
          }
        },
        "VarResponse": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ca52b3f4-9055-43c5-a45a-10f29ebb42fe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "VarResponse",
                "type": "string"
              }
            ]
          }
        },
        "Extract_information_about_Employees": {
          "runAfter": {
            "Check_all_responses": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7f3b3082-cfcd-4ac3-8172-2544b2588f92"
          },
          "type": "Compose",
          "inputs": "@last(split(split(variables('VarResponse'),decodeUriComponent('%0A'))[2], '1) '))"
        },
        "Extract_information_about_Industry": {
          "runAfter": {
            "Extract_information_about_Employees": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d501648d-0fe0-4419-850f-1f903a7e6e32"
          },
          "type": "Compose",
          "inputs": "@last(split(split(variables('VarResponse'),decodeUriComponent('%0A'))[3], '2) '))"
        },
        "Check_if_industry_name_includes_text": {
          "actions": {
            "Extract_only_name": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8914291e-6064-42a1-9511-0d9aa869cffd"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "VarIndustry",
                "value": "@{last(split(outputs('Extract_information_about_Industry'), 'Industry: '))}"
              }
            }
          },
          "runAfter": {
            "Check_if_number_of_employees_includes_text": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_VarIndustry_with_value": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "bb06cc46-ce87-4152-8e64-e6f8c3637a5f"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "VarIndustry",
                  "value": "@{outputs('Extract_information_about_Industry')}"
                }
              }
            }
          },
          "expression": {
            "contains": [
              "",
              "Industry"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f4ac328-126e-4256-a8b3-518a7bfe7706"
          },
          "type": "If"
        },
        "Check_if_number_of_employees_includes_text": {
          "actions": {
            "Extract_only_number": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ac5191bd-a5a1-4134-b507-78f5447a645c"
              },
              "type": "SetVariable",
              "inputs": {
                "name": " VarEmployees",
                "value": "@{last(split(outputs('Extract_information_about_Employees'), 'Employees: '))}"
              }
            }
          },
          "runAfter": {
            "Extract_information_about_Industry": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_VarEmployees_with_value": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "f68f7517-0fd6-45d8-954c-ae5361ccb1d2"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": " VarEmployees",
                  "value": "@{outputs('Extract_information_about_Employees')}"
                }
              }
            }
          },
          "expression": {
            "contains": [
              "",
              "Employee"
            ]
          },
          "metadata": {
            "operationMetadataId": "f7c7bcae-c310-458d-82f0-a1041073fdd3"
          },
          "type": "If"
        },
        "Update_Account_with_data_generated_by_AI": {
          "runAfter": {
            "Check_if_there_is_more_than_1_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c504a4c-f665-4c58-b591-3e207114503b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/accountid']",
              "item/description": "Generated by AI:\nNumber of Employees: @{variables(' VarEmployees')}\nIndustry: @{variables('VarIndustry')}\n3 news:\n@{variables('VarNews')}",
              "item/kchdev_employeesaipowered": "Generated by AI: @{variables(' VarEmployees')}",
              "item/kchdev_industryaipowered": "Generated by AI: @{variables('VarIndustry')}",
              "item/kchdev_newsaipowered": "Generated by AI:\n@{variables('VarNews')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_the_length_of_news_array": {
          "runAfter": {
            "Check_if_industry_name_includes_text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2036f049-d062-4eb9-9197-1571e354de15"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ArrayLength",
                "type": "integer",
                "value": "@sub(max(length(split(variables('VarResponse'),decodeUriComponent('%0A')))),4)"
              }
            ]
          }
        },
        "Check_if_there_is_more_than_1_row": {
          "actions": {
            "Add_separators": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "83f40551-620d-45fe-aa65-67286566db2b"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "VarNews",
                "value": "@{concat(split(variables('VarResponse'),decodeUriComponent('%0A'))[sub(max(length(split(variables('VarResponse'),decodeUriComponent('%0A')))),3)], decodeUriComponent('%0A'),split(variables('VarResponse'),decodeUriComponent('%0A'))[sub(max(length(split(variables('VarResponse'),decodeUriComponent('%0A')))),2)], decodeUriComponent('%0A'),split(variables('VarResponse'),decodeUriComponent('%0A'))[sub(max(length(split(variables('VarResponse'),decodeUriComponent('%0A')))),1)])}"
              }
            }
          },
          "runAfter": {
            "Check_the_length_of_news_array": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Split_by_separator": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "8e4be2c5-d513-43a8-8df6-e259cb1047a3"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "VarNews",
                  "value": "@{split(variables('VarResponse'),decodeUriComponent('%0A'))[sub(max(length(split(variables('VarResponse'),decodeUriComponent('%0A')))),1)]}"
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@variables('ArrayLength')",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "f070c73a-8bde-4ade-83ad-b86a1b2b54eb"
          },
          "type": "If"
        },
        "Send_a_request_to_Azure_Open_AI": {
          "runAfter": {
            "VarNews": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae378311-ee23-4c36-aca8-15534831ac4f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_kch-5fazure-20open-20ai-20for-20crm-5ff73fc8ceb8bd1dfd",
              "operationId": "GeneralParameters",
              "apiId": ""
            },
            "parameters": {
              "api-version": "2022-12-01",
              "Content-Type": "application/json",
              "api-key": "@parameters('API key (kch_apikey)')",
              "body/prompt": "Find information about the company @{triggerOutputs()?['body/name']} and provide the information using following sample:\n1) number of employees: (provide just the whole number)\n2) industry: (provide just the industry name)\n3) 3 latest news about the company: (provide just a list)",
              "body/max_tokens": 500,
              "body/temperature": 1,
              "body/frequency_penalty": 0,
              "body/presence_penalty": 0
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_all_responses": {
          "foreach": "@outputs('Send_a_request_to_Azure_Open_AI')?['body/choices']",
          "actions": {
            "Set_VarResponse_with_the_text_generated_by_Azure_Open_AI": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f0a9f0d4-8b7e-4e4a-83c0-e7c7022a5782"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "VarResponse",
                "value": "@items('Check_all_responses')?['text']"
              }
            }
          },
          "runAfter": {
            "Send_a_request_to_Azure_Open_AI": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e1585cf6-b39f-4522-afb2-0fbb242f8fdd"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}