samples/send-name-pronunciation-recording-to-library/sourcecode/Microsoft.Flow/flows/da74762c-95c8-49d7-ab88-25c1269d369c/definition.json
{"name":"c00fc544-2e5a-4162-8c58-e805bc2a53b2","id":"/providers/Microsoft.Flow/flows/c00fc544-2e5a-4162-8c58-e805bc2a53b2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Generic Save Audio File to SPO","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"9913e608-454a-43cc-b618-67b166e35ef4","type":"User","tenantId":"5ca184d6-52eb-4b83-9ea5-b7f960ff5584"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-10-04T16:54:48.7605878Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"1f9646a2-c123-435f-a173-33a2f98d05ce"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Createfile_FileName":{"type":"string","description":"Name of the file.. This parameter is used as part of \"61CDC308-4481-4B6B-8A2B-C8E3AF95EEAA\"","x-ms-powerflows-param-ispartial":true},"Updatefileproperties_Duration":{"type":"number","format":"double","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value","Createfile_FileName","Updatefileproperties_Duration"]}},"description":"Trigger comes from the NamePronunciationAudio Power App"}},"actions":{"Initialize_variable_Base64ToAudio":{"runAfter":{},"metadata":{"operationMetadataId":"b954b419-c668-419f-a53b-e5dcb5470f64"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Base64ToAudio","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]},"description":"Per a tutorial, this helps translate the audio recording into a format that can be uploaded to SharePoint"},"Create_file":{"runAfter":{"Initialize_variable_libraryName_-_update_this!":["Succeeded"]},"metadata":{"operationMetadataId":"2275e165-78fb-4cb2-80a7-dc5f0fc63c90"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"CreateFile"},"parameters":{"dataset":"@variables('siteName')","folderPath":"/NamePronunciationAudioFiles","name":"@{triggerBody()['Createfile_FileName']}.mp3","body":"@base64ToBinary(variables('Base64ToAudio'))"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"The file name comes from Power Apps.  The file content is translated using PowerFX: base64ToBinary(variables('Base64ToAudio')","runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"7394fb86-8151-486d-99e5-3d22730a34c4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchFileItem"},"parameters":{"dataset":"@variables('siteName')","table":"@variables('libraryName')","id":"@outputs('Create_file')?['body/ItemId']","item":{"Duration":"@{triggerBody()['Updatefileproperties_Duration']}"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Adds the duration to the document library."},"Initialize_variable_siteName_-_update_this!":{"runAfter":{"Initialize_variable_Base64ToAudio":["Succeeded"]},"metadata":{"operationMetadataId":"3b7c8326-61ce-4178-8ae8-2d05c85c294e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"siteName","type":"string","value":"https://lindsaytshelton.sharepoint.com/sites/InstituteDocuments"}]},"description":"Rename this value with your site URL and doc library name"},"Initialize_variable_libraryName_-_update_this!":{"runAfter":{"Initialize_variable_siteName_-_update_this!":["Succeeded"]},"metadata":{"operationMetadataId":"7d6cef65-51e7-4460-83de-0bea7a08e8a8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"libraryName","type":"string","value":"Name Pronunciation Audio Files"}]},"description":"Rename this value with your library name"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"6adbc0c5e6c84392a6361d4481ef5b16","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}