samples/teams-adaptive-card-reminders-from-lists/sourcecode/Microsoft.Flow/flows/d594d2cf-7c6f-4987-84e8-98a9f52c1d08/definition.json
{"name":"721eadca-deb2-4084-8144-dc8e1e80f97d","id":"/providers/Microsoft.Flow/flows/721eadca-deb2-4084-8144-dc8e1e80f97d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Teams Adaptive Card Reminders From Lists","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"5b2bce1a-cc08-4e1b-bea4-b00625348744","type":"User","tenantId":"d45e3b06-d6e9-4606-8e92-5b5375b02bad"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-02-14T19:11:53.7741676Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_-_Daily_(10AM)":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2022-02-14T15:00:00.000Z","schedule":{"hours":["10"]}},"metadata":{"operationMetadataId":"7547430d-5e3f-4115-8642-0235d85b0ff1"},"type":"Recurrence"}},"actions":{"Get_items_-_Target_list":{"runAfter":{"Initialize_variable_-_varReminderDate":["Succeeded"]},"metadata":{"operationMetadataId":"d85931bf-38b1-48f2-b4c5-e8aa5ebbb56b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://normyoung.sharepoint.com/sites/TeamSite-Demo","table":"12c7ef01-03e8-481f-906d-58a0937c5281","$filter":"DueDate eq '@{variables('varReminderDate')}'"},"authentication":"@parameters('$authentication')"},"description":"DueDate must exist as a \"Date and time\" column; \"Include Time\" must be set to \"No\".  Owner must exist as a \"Person\" column; \"Allow multiple selections\" must be set to \"No\".  Filter Query used: DueDate eq '@{variables('varReminderDate')}'"},"Initialize_variable_-_varReminderDays":{"runAfter":{},"metadata":{"operationMetadataId":"48d0f349-9f2d-4da6-83f0-a51142d0c417"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varReminderDays","type":"integer","value":7}]},"description":"Reminders are sent for any Due Date column based on todays date plus the varReminderDays value"},"Initialize_variable_-_varReminderDate":{"runAfter":{"Initialize_variable_-_varReminderDays":["Succeeded"]},"metadata":{"operationMetadataId":"71ca4188-3f43-4409-b86e-a921c76ba0d6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varReminderDate","type":"string","value":"@{addDays(utcNow(), variables('varReminderDays'), 'yyyy-MM-dd')}"}]},"description":"Expression used: addDays(utcNow(), variables('varReminderDays'), 'yyyy-MM-dd')"},"Apply_to_each_-_Reminders":{"foreach":"@outputs('Get_items_-_Target_list')?['body/value']","actions":{"Post_adaptive_card_in_a_chat_or_channel_-_Reminders":{"runAfter":{},"metadata":{"operationMetadataId":"0e781832-564e-4f23-b47f-1ddfc63550de"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Apply_to_each_-_Reminders')?['Owner/Email']};","body/messageBody":"{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.3\",\n    \"body\": [\n        {\n            \"speak\": \"Reminder @{items('Apply_to_each_-_Reminders')?['Title']} due on @{items('Apply_to_each_-_Reminders')?['DueDate']}\",\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": 2,\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{items('Apply_to_each_-_Reminders')?['Title']}\",\n                            \"weight\": \"Bolder\",\n                            \"size\": \"ExtraLarge\",\n                            \"spacing\": \"None\",\n                            \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"size\": \"Default\",\n                            \"wrap\": true,\n                            \"maxLines\": 3,\n                            \"text\": \"Reminder item due date on @{items('Apply_to_each_-_Reminders')?['DueDate']}.\",\n                            \"weight\": \"Bolder\",\n                            \"color\": \"Warning\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"More Info\",\n            \"url\": \"@{items('Apply_to_each_-_Reminders')?['{Link}']}\"\n        }\n    ]\n}"},"authentication":"@parameters('$authentication')"},"description":"Created using the https://adaptivecards.io/designer/ web site. Copy payload below to edit in designer."}},"runAfter":{"Get_items_-_Target_list":["Succeeded"]},"metadata":{"operationMetadataId":"73de871e-f57f-4ac3-b26d-983fc6cc88da"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-385b0290-d005-4eea-a8a9-3cfdfaa37846","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-36e44ee3-177d-451d-a62e-abfcf0d1d195","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}