samples/o365groups-graph-create-group/sourcecode/Microsoft.Flow/flows/547270eb-3d73-4d5d-ae6a-95a00fdee507/definition.json
{"name":"7c82adc3-585d-4bc9-a00a-de8126b25902","id":"/providers/Microsoft.Flow/flows/7c82adc3-585d-4bc9-a00a-de8126b25902","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create a Microsoft 365 Group Using Graph API","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"d679d670-2676-4059-ab09-2ea50ff14fcf","type":"User","tenantId":"4345db6f-74d7-463c-818a-9a9b01cbad69"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-02-01T13:37:44.58501Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d821d210-0c61-4503-b242-4a2f610b79d0"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Group Visibility","type":"string","x-ms-dynamically-added":true,"description":"Please select your input","x-ms-content-hint":"TEXT","enum":["Private","Public"]},"text_1":{"title":"Group Display Name","type":"string","x-ms-dynamically-added":true,"description":"Enter the display name for the Microsoft 365 Group","x-ms-content-hint":"TEXT"},"text_2":{"title":"Group Mail Nickname","type":"string","x-ms-dynamically-added":true,"description":"Please enter the mail nickname for the Microsoft 365 Group","x-ms-content-hint":"TEXT"},"text_3":{"title":"Group Description","type":"string","x-ms-dynamically-added":true,"description":"Please enter the group description","x-ms-content-hint":"TEXT"},"email":{"title":"Members","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"}},"required":["text","text_1","text_2","text_3"]},"headersSchema":{"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Send_an_HTTP_request_-_Create_Group":{"runAfter":{"Parse_JSON_-_Parameters":["Succeeded"]},"metadata":{"operationMetadataId":"8d4b5f93-beb9-4743-b170-3bcc8dfc6a47"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"HttpRequest"},"parameters":{"Uri":"https://graph.microsoft.com/v1.0/groups","Method":"POST","Body":"\n{\n  \"description\": \"@{body('Parse_JSON_-_Parameters')?['description']}\",\n  \"displayName\": \"@{body('Parse_JSON_-_Parameters')?['displayName']}\",\n  \"groupTypes\": [\n    \"Unified\"\n  ],\n  \"mailEnabled\": true,\n  \"mailNickname\": \"@{body('Parse_JSON_-_Parameters')?['mailNickname']}\",\n  \"securityEnabled\": false,\n  \"visibility\": \"@{body('Parse_JSON_-_Parameters')?['visibility']}\"\n}","ContentType":"application/json"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_-_If_members_are_specified,_add_them":{"actions":{"Compose_-_Split_Members_Emails":{"runAfter":{},"metadata":{"operationMetadataId":"5fe33557-1226-4fd5-8154-c8c98faaccb2"},"type":"Compose","inputs":"@split(body('Parse_JSON_-_Parameters')?['members'],';')"},"Apply_to_each":{"foreach":"@outputs('Compose_-_Split_Members_Emails')","actions":{"Add_member_to_group":{"runAfter":{},"metadata":{"operationMetadataId":"d678720e-5a15-4ec4-beab-c072c08320a7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"AddMemberToGroup"},"parameters":{"groupId":"@body('Parse_JSON_-_Group_Creation_Response')?['id']","userUpn":"@item()"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Compose_-_Split_Members_Emails":["Succeeded"]},"metadata":{"operationMetadataId":"85f9d983-2e52-4df5-8051-ababb002c485"},"type":"Foreach"}},"runAfter":{"Parse_JSON_-_Group_Creation_Response":["Succeeded"]},"expression":{"equals":["@empty(body('Parse_JSON_-_Parameters')?['members'])","@false"]},"metadata":{"operationMetadataId":"acc60543-db55-49aa-b535-e5197b5c5c6e"},"type":"If"},"Parse_JSON_-_Parameters":{"runAfter":{},"metadata":{"operationMetadataId":"f1b04c12-fcff-4e5c-8c7b-0e333a502431"},"type":"ParseJson","inputs":{"content":{"description":"@{triggerBody()['text_3']}","displayName":"@{triggerBody()['text_1']}","mailNickname":"@{triggerBody()['text_2']}","visibility":"@{triggerBody()['text']}","members":"@{triggerBody()?['email']}","creatorEmail":"@{base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])}"},"schema":{"type":"object","properties":{"description":{"type":"string"},"displayName":{"type":"string"},"mailNickname":{"type":"string"},"creatorEmail":{"type":"string"},"visibility":{"type":"string"},"members":{"type":"string"}}}}},"Parse_JSON_-_Group_Creation_Response":{"runAfter":{"Send_an_HTTP_request_-_Create_Group":["Succeeded"]},"metadata":{"operationMetadataId":"4443a1d1-cd3d-4ae2-b4b2-283f194a0137"},"type":"ParseJson","inputs":{"content":"@body('Send_an_HTTP_request_-_Create_Group')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"id":{"type":"string"},"deletedDateTime":{},"classification":{},"createdDateTime":{"type":"string"},"creationOptions":{"type":"array"},"description":{"type":"string"},"displayName":{"type":"string"},"expirationDateTime":{},"groupTypes":{"type":"array","items":{"type":"string"}},"isAssignableToRole":{},"mail":{"type":"string"},"mailEnabled":{"type":"boolean"},"mailNickname":{"type":"string"},"membershipRule":{},"membershipRuleProcessingState":{},"onPremisesDomainName":{},"onPremisesLastSyncDateTime":{},"onPremisesNetBiosName":{},"onPremisesSamAccountName":{},"onPremisesSecurityIdentifier":{},"onPremisesSyncEnabled":{},"preferredDataLocation":{},"preferredLanguage":{},"proxyAddresses":{"type":"array","items":{"type":"string"}},"renewedDateTime":{"type":"string"},"resourceBehaviorOptions":{"type":"array"},"resourceProvisioningOptions":{"type":"array"},"securityEnabled":{"type":"boolean"},"securityIdentifier":{"type":"string"},"theme":{},"visibility":{"type":"string"},"onPremisesProvisioningErrors":{"type":"array"}}}}},"Add_member_to_group_-_Creator":{"runAfter":{"Condition_-_If_members_are_specified,_add_them":["Succeeded"]},"metadata":{"operationMetadataId":"cf4f5930-5e80-49c7-b639-36a54db587c5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups","connectionName":"shared_office365groups","operationId":"AddMemberToGroup"},"parameters":{"groupId":"@body('Parse_JSON_-_Group_Creation_Response')?['id']","userUpn":"@body('Parse_JSON_-_Parameters')?['creatorEmail']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_office365groups":{"connectionName":"c1e6708afc57457abd3ab8af18339d59","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365groups","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}