samples/convert-sharepoint-library-doc-file-to-pdf/sourcecode/Microsoft.Flow/flows/29869880-00af-4102-a622-cab9a9fa9def/definition.json
{"name":"ce0e6763-8404-419d-bcc6-d06deb731b77","id":"/providers/Microsoft.Flow/flows/ce0e6763-8404-419d-bcc6-d06deb731b77","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Convert doc to pdf","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"AlwaysFailingDetected","flowclientsuspensionreasondetails":null,"flowclientsuspensiontime":"2022-07-23T07:23:43.7697544Z","creator":{"id":"421cd1b9-8373-4f7a-8aff-06e1ddee84d4","type":"User","tenantId":"928d7f65-77f4-4b2d-a3a8-1e74badd9734"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-07-23T07:23:43.7697544Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_file_is_created_(properties_only)":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"3853a390-eb11-4526-90a5-bbc3156af123"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewFileItems"},"parameters":{"dataset":"https://vtsp.sharepoint.com/sites/SPFxLearning","table":"7aaf84fa-25bd-45c7-ab09-930e99a4019a"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_file_content":{"runAfter":{},"metadata":{"operationMetadataId":"82129079-702f-46e0-a81e-06015d16fc6d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://vtsp.sharepoint.com/sites/SPFxLearning","id":"@triggerOutputs()?['body/{Identifier}']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_Actual_File_to_OneDrive":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"98b8b30f-e65c-4ad0-9491-c8897493e03e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PnP","name":"@triggerOutputs()?['body/{FilenameWithExtension}']","body":"@body('Get_file_content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file_to_PDF":{"runAfter":{"Create_Actual_File_to_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"77403e88-13f8-493a-b143-5817f1c1ab04"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_Actual_File_to_OneDrive')?['body/Id']","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Create_PDF_File_to_OneDrive":{"runAfter":{"Convert_file_to_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"449fedde-a2c7-4e56-830c-8170178d0d1e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"@outputs('Convert_file_to_PDF')?['headers/x-ms-file-name']","body":"@body('Convert_file_to_PDF')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Add_PDF_File_to_Document_Library":{"runAfter":{"Create_PDF_File_to_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"eb3bbaad-5f0a-447e-8711-dbec60d35256"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://vtsp.sharepoint.com/sites/SPFxLearning","folderPath":"/Shared Documents","name":"@outputs('Convert_file_to_PDF')?['headers/x-ms-file-name']","body":"@body('Convert_file_to_PDF')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Delete_Actual_File_From_OneDrive":{"runAfter":{"Add_PDF_File_to_Document_Library":["Succeeded"]},"metadata":{"operationMetadataId":"11159aac-7a39-483d-a852-7d9e20cce290"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('Create_Actual_File_to_OneDrive')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Delete_PDF_File_From_OneDrive":{"runAfter":{"Delete_Actual_File_From_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"cc30805a-f2a8-409e-acdd-d9c689ea022a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile"},"parameters":{"id":"@outputs('Create_PDF_File_to_OneDrive')?['body/Id']"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3319dc5e98a348a3b16dc88888072e9d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"83485110753f411cb01b04e99edc2417","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}