samples/sharepoint-hide-list-site-contents/sourcecode/Microsoft.Flow/flows/c5bf135d-d985-4e14-bcb5-e9f39cc17f54/definition.json
{"name":"441f18a7-8dba-49fc-87bd-b4cb9b182db5","id":"/providers/Microsoft.Flow/flows/441f18a7-8dba-49fc-87bd-b4cb9b182db5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Hide or Show a SharePoint List","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"d679d670-2676-4059-ab09-2ea50ff14fcf","type":"User","tenantId":"4345db6f-74d7-463c-818a-9a9b01cbad69"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-01-30T13:47:29.5881204Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"7dda9f31-6642-4eaf-a088-1543dc7b7b9f"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Site Url","type":"string","x-ms-dynamically-added":true,"description":"Please enter your the site URL","x-ms-content-hint":"TEXT"},"text_1":{"title":"List Title","type":"string","x-ms-dynamically-added":true,"description":"Please enter the List Title","x-ms-content-hint":"TEXT"},"boolean":{"title":"Hidden","type":"boolean","x-ms-dynamically-added":true,"description":"Please select Yes to hide the list, or 'No' to show the list","x-ms-content-hint":"BOOLEAN"}},"required":[]}}}},"actions":{"Compose-BooleanToLower":{"runAfter":{"Compose-FlowRegion":["Succeeded"]},"metadata":{"operationMetadataId":"ab60f47b-714a-439d-96e4-436c9471f96b"},"type":"Compose","inputs":"@toLower(string(triggerBody()['boolean']))"},"Scope_-_Try":{"actions":{"Parse_JSON":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_Get_List_Path":["Succeeded"]},"metadata":{"operationMetadataId":"5b84c10a-e6e4-4bbe-bb66-d474f3729271"},"type":"ParseJson","inputs":{"content":"@body('Send_an_HTTP_request_to_SharePoint_-_Get_List_Path')","schema":{"type":"object","properties":{"d":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"id":{"type":"string"},"uri":{"type":"string"},"type":{"type":"string"}}},"Files":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"ListItemAllFields":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"ParentFolder":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Properties":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"StorageMetrics":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Folders":{"type":"object","properties":{"__deferred":{"type":"object","properties":{"uri":{"type":"string"}}}}},"Exists":{"type":"boolean"},"IsWOPIEnabled":{"type":"boolean"},"ItemCount":{"type":"integer"},"Name":{"type":"string"},"ProgID":{},"ServerRelativeUrl":{"type":"string"},"TimeCreated":{"type":"string"},"TimeLastModified":{"type":"string"},"UniqueId":{"type":"string"},"WelcomePage":{"type":"string"}}}}}}},"Send_an_HTTP_request_to_SharePoint_-_Hide_List":{"runAfter":{},"metadata":{"operationMetadataId":"ea0a150a-1073-4383-95d4-ba330c34e9c2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text']","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('@{triggerBody()['text_1']}')","parameters/headers":{"X-HTTP-Method":"MERGE","If-Match":"*"},"parameters/body":"{ 'Hidden':@{outputs('Compose-BooleanToLower')}}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_-_Get_List_Path":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_Hide_List":["Succeeded"]},"metadata":{"operationMetadataId":"9b771bd5-659a-4d8f-8bcf-f70d4a3adfb2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()?['text']","parameters/method":"GET","parameters/uri":"_api/web/lists/getbytitle('@{triggerBody()['text_1']}')/RootFolder"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose-TenantPrefix":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"e7345934-eed1-4ac2-a338-695fbdbb889d"},"type":"Compose","inputs":"@split(body('Parse_JSON')?['d']?['ParentFolder']?['__deferred']?['uri'],'.sharepoint.com')[0]"},"Compose-ListLink":{"runAfter":{"Compose-TenantPrefix":["Succeeded"]},"metadata":{"operationMetadataId":"eaf2221d-df42-4204-ae14-4312987dbd8a"},"type":"Compose","inputs":"<a href='@{outputs('Compose-TenantPrefix')}.sharepoint.com@{body('Parse_JSON')?['d']?['ServerRelativeUrl']}'>\n@{outputs('Compose-TenantPrefix')}.sharepoint.com@{body('Parse_JSON')?['d']?['ServerRelativeUrl']}</a>"},"Send_an_email_(V2)_-_Success":{"runAfter":{"Compose-ListLink":["Succeeded"]},"metadata":{"operationMetadataId":"c91dfa85-1d64-4de0-9e4e-dceafb844f96"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Subject":"List @{triggerBody()?['text_1']} was hidden sucessfully","emailMessage/Body":"<p>The list the list @{triggerBody()?['text_1']} in the site @{triggerBody()?['text']} was hidden successfuly.</p>\n<p>Link to the list: @{outputs('Compose-ListLink')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"dc95386d-7e04-46f1-8204-80a50cbaae32"},"type":"Scope"},"Scope_-_Catch":{"actions":{"Compose-FlowRunUrl":{"runAfter":{},"metadata":{"operationMetadataId":"483926b7-a843-4d8c-894f-7dfa35709fb5"},"type":"Compose","inputs":"@concat(outputs('Compose-FlowRegion'),'/manage/environments/',workflow()?['tags']['environmentName'],'/flows/',workflow()?['name'],'/runs/',workflow()?['run']['name'])"},"Terminate":{"runAfter":{"Send_an_email_(V2)_-_Failure":["Succeeded"]},"metadata":{"operationMetadataId":"fd52e7d2-1b2b-46f1-a943-a1c274b26292"},"type":"Terminate","inputs":{"runStatus":"Failed"}},"Send_an_email_(V2)_-_Failure":{"runAfter":{"Compose-FlowRunUrl":["Succeeded"]},"metadata":{"operationMetadataId":"ead82cef-c645-4a79-8b0e-6172a354e4cd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Subject":"Error Hiding List @{triggerBody()?['text_1']} ","emailMessage/Body":"<p>Error happened when trying to hide the list @{triggerBody()?['text_1']} on the site @{triggerBody()?['text']}<br>\n<br>\n<a href='@{outputs('Compose-FlowRunUrl')}'> Click here to check the error details. </a></p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Scope_-_Try":["Skipped","Failed","TimedOut"]},"metadata":{"operationMetadataId":"e8a9ffbd-607f-4d35-b1ac-8bbe88389156"},"type":"Scope"},"Get_my_profile_(V2)":{"runAfter":{"Compose-BooleanToLower":["Succeeded"]},"metadata":{"operationMetadataId":"2119921c-69d4-4e21-b776-be81f120a0e3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose-FlowRegion":{"runAfter":{},"metadata":{"operationMetadataId":"ce9c142f-36fb-4561-b3aa-767c7bfcf706"},"type":"Compose","inputs":"https://emea.flow.microsoft.com","description":"Replace this by your actual Power Automate Region home page url, for example: https://unitedkingdom.flow.microsoft.com"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"51bc0bb9f7444715bf4ab5d35073876e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-cdafc3fb-487c-4e50-b314-f4d2-62feebb3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-1493f340-8ab0-4f93-8567-f231-a0a7aa72","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}