samples/sharepoint-copy-pages-between-sites/sourcecode/Microsoft.Flow/flows/1919f2cd-1751-4ee9-9bcb-eadeaf922401/definition.json
{"name":"64b1b595-3d07-4412-a74c-f320f3bdfe0f","id":"/providers/Microsoft.Flow/flows/64b1b595-3d07-4412-a74c-f320f3bdfe0f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Copy a sharepoint page between sites","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e72b7f77-8230-4c3d-80ac-7174b3453a9e","type":"User","tenantId":"5fb6d3a8-f5d1-4d00-b86f-19a5e43ab94f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-12-02T10:10:58.6265585Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"4cdb4b8c-032c-49ab-a4e1-75b6ac5e5bce"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"text":{"title":"Input","type":"string","x-ms-dynamically-added":true,"description":"Enter the site where to copy the page","x-ms-content-hint":"TEXT","enum":["https://hereygerst.sharepoint.com/sites/SiteB","https://hereygerst.sharepoint.com/sites/SiteC"]},"entity":{"type":"object","properties":{"ID":{"title":"ID","type":"integer","format":"int64"},"fileName":{"title":"fileName","type":"string"}},"required":["ID","fileName"]}},"required":["text","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/sharepointonline"}},"operationId":"GetItemHybridTriggerSchema","parameters":{"dataset":"https://hereygerst.sharepoint.com/sites/SiteA","table":"6a34adba-94db-48f7-bbf2-12b20e86eb71"}},"description":"I set a mandatory dropdown with the full site URL so the user cannot type a wrong URL and you decide what is possible."}},"actions":{"Get_extra_details_about_the_source_page":{"runAfter":{"Set_the_sitepages_ID_of_the_source_in_a_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9082720c-df76-43b2-9ab8-7cbb3f70cad0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"@variables('SourceSiteURL')","table":"@variables('SourcePagesID')","id":"@triggerBody()?['entity']?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_the_source_site_url_in_a_variable":{"runAfter":{},"metadata":{"operationMetadataId":"5e28e81b-8f7f-4940-a7f7-6e72ca41c93f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SourceSiteURL","type":"string","value":"https://hereygerst.sharepoint.com/sites/SiteA"}]}},"Set_the_sitepages_ID_of_the_source_in_a_variable":{"runAfter":{"Set_the_source_site_url_in_a_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9391d83b-f566-4e52-97eb-a5271617de62"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SourcePagesID","type":"string","value":"6a34adba-94db-48f7-bbf2-12b20e86eb71"}]}},"Copy_page_to_the_destination_site":{"runAfter":{"Get_extra_details_about_the_source_page":["Succeeded"]},"metadata":{"operationMetadataId":"9cef098c-baed-44b8-adea-b19324bf9e02"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFileAsync"},"parameters":{"dataset":"@variables('SourceSiteURL')","parameters/sourceFileId":"/SitePages/@{triggerBody()?['entity']?['fileName']}","parameters/destinationDataset":"@triggerBody()['text']","parameters/destinationFolderPath":"/Sitepages","parameters/nameConflictBehavior":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Note: as you can see I use the INPUT as the destination siteURL, if your dropdown in the first step does not have the site URL, you need to create a sharepoint list that matches the dropdown with the siteurl, and reference it with get-items OData Q."},"Publish_the_copied_page":{"runAfter":{"Copy_page_to_the_destination_site":["Succeeded"]},"metadata":{"operationMetadataId":"6409a804-e61f-46e5-bf21-610e40476b9d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text']","parameters/method":"POST","parameters/uri":"_api/sitepages/pages('@{outputs('Copy_page_to_the_destination_site')?['body/ItemId']}')/publish"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Note: when you copy a page, the page will stay in the destination unpublished, use this action if you want the page to automatically publish."}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-771abc8d-54cc-4615-aaea-a5403f4fff72","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}