samples/teams-invites-via-graph-api/sourcecode/Microsoft.Flow/flows/c7c9bd68-9656-4099-8d60-0c1cb9b47415/definition.json
{"name":"1dec0cb8-a7bb-4fed-a67b-4e84b37d3918","id":"/providers/Microsoft.Flow/flows/1dec0cb8-a7bb-4fed-a67b-4e84b37d3918","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Approve Guest user access to team","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"6KuxsYFgTEKI2-7BFBaRNGzfoQM3bLpOu-lEl8s_E4JUQ0lSRDRLODU0WFNOOEZKNFEyQUhOWVE0VS4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_microsoftforms","operationId":"GetFormResponseById","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"6KuxsYFgTEKI2-7BFBaRNGzfoQM3bLpOu-lEl8s_E4JUQ0lSRDRLODU0WFNOOEZKNFEyQUhOWVE0VS4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"List_teams":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetAllTeams","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"List_teams":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_teams')?['body/value']","where":"@equals(item()?['displayName'], outputs('Get_response_details')?['body/r81212c7401884acfaa7410cac9137188'])"}},"Compose":{"runAfter":{"Filter_array":["Succeeded"]},"type":"Compose","inputs":"@body('Filter_array')[0]?['id']"},"Get_Owners":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03_1","operationId":"GetOwners","apiId":"/providers/Microsoft.PowerApps/apis/shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03"},"parameters":{"teamId":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"}},"Parse_JSON":{"runAfter":{"Get_Owners":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_Owners')?['body']","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"@@odata.type":{"type":"string"},"id":{"type":"string"},"businessPhones":{"type":"array","items":{"type":"string"}},"displayName":{"type":"string"},"givenName":{"type":"string"},"jobTitle":{},"mail":{"type":"string"},"mobilePhone":{},"officeLocation":{},"preferredLanguage":{"type":"string"},"surname":{"type":"string"},"userPrincipalName":{"type":"string"}},"required":["@@odata.type","id","businessPhones","displayName","givenName","jobTitle","mail","mobilePhone","officeLocation","preferredLanguage","surname","userPrincipalName"]}}}}}},"Select":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Select","inputs":{"from":"@body('Parse_JSON')?['value']","select":"@item()?['mail']"}},"Join":{"runAfter":{"Select":["Succeeded"]},"type":"Join","inputs":{"from":"@body('Select')","joinWith":";"}},"Start_and_wait_for_an_approval":{"runAfter":{"Join":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"A new member @{outputs('Get_response_details')?['body/r9655680fef104d43a58fe5239026eab3']} @{outputs('Get_response_details')?['body/r38684870c34245fdb8f68c9673f7ecb8']} wants to join your team @{outputs('Get_response_details')?['body/r81212c7401884acfaa7410cac9137188']}","WebhookApprovalCreationInput/assignedTo":"@{body('Join')};","WebhookApprovalCreationInput/details":"Please confirm if the user @{outputs('Get_response_details')?['body/r9655680fef104d43a58fe5239026eab3']} @{outputs('Get_response_details')?['body/r38684870c34245fdb8f68c9673f7ecb8']} with email @{outputs('Get_response_details')?['body/rd74c7ee3594f4e15b4fc0af23f6e9c3a']} should be added to your team @{outputs('Get_response_details')?['body/r81212c7401884acfaa7410cac9137188']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"GetUser":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03_1","operationId":"GetUser","apiId":"/providers/Microsoft.PowerApps/apis/shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03"},"parameters":{"$filter":"mail eq '@{outputs('Get_response_details')?['body/rd74c7ee3594f4e15b4fc0af23f6e9c3a']}'"},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Add_a_member_to_a_team":{"runAfter":{"Compose_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"AddMemberToTeam","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"teamId":"@outputs('Compose')","body/userId":"@body('GetUser')?['value'][0]?['id']"},"authentication":"@parameters('$authentication')"}},"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@body('GetUser')?['value'][0]?['id']"}},"runAfter":{"GetUser":["Succeeded"]},"else":{"actions":{"Invite":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03_1","operationId":"Invite","apiId":"/providers/Microsoft.PowerApps/apis/shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03"},"parameters":{"body/invitedUserEmailAddress":"@outputs('Get_response_details')?['body/rd74c7ee3594f4e15b4fc0af23f6e9c3a']","body/inviteRedirectUrl":"https://www.linkeD365.blog","body/invitedUserDisplayName":"@{outputs('Get_response_details')?['body/r9655680fef104d43a58fe5239026eab3']} @{outputs('Get_response_details')?['body/r38684870c34245fdb8f68c9673f7ecb8']}"},"authentication":"@parameters('$authentication')"}},"Add_a_member_to_a_team_2":{"runAfter":{"Invite":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"AddMemberToTeam","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"teamId":"@body('Filter_array')[0]?['id']","body/userId":"@outputs('Invite')?['body/inviteduser/id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('GetUser')?['body/value'])",0]},"type":"If"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-3571fe09-b00c-4c06-9ba8-5302-845fdec6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-e1b700cb-e0cc-4f18-9863-053f-08d108a3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03_1":{"connectionName":"a98f107a54ec4b6da5bd21e4992e7cc4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_graphapi-5f04d5eb22c34423fb-5f448e0b83a75acf03","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-290ed54c-d461-4901-9917-48a1-156a29ab","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}