samples/planner-task-from-flagged-email/sourcecode/Microsoft.Flow/flows/d6e47e17-ac6c-4273-93e0-8da48178f6b4/definition.json
{"name":"cee7701b-a7c4-4188-93d7-c987fd94b978","id":"/providers/Microsoft.Flow/flows/cee7701b-a7c4-4188-93d7-c987fd94b978","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Flagged Email to Planner","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"NeverTriggeringDetected","flowclientsuspensiontime":"2020-12-23T11:21:00.289068Z","creator":{"id":"2dad8891-58c1-4e61-966f-ad9813ab1365","type":"User","tenantId":"33df2eae-8315-4a6f-ab5f-af2a67d46f37"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-10-16T16:20:24.2776794Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_email_is_flagged_(V2)":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnFlaggedEmailV3"}},"type":"ApiConnectionNotification","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"fetch":{"queries":{"folderPath":"Inbox","importance":"Any","fetchOnlyWithAttachment":false,"includeAttachments":false},"pathTemplate":{"template":"/v3/Mail/OnFlaggedEmail"},"method":"get"},"subscribe":{"queries":{"folderPath":"Inbox","importance":"Any","fetchOnlyWithAttachment":false},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"pathTemplate":{"template":"/GraphFlaggedMailSubscriptionPoke/$subscriptions"},"method":"post"},"authentication":"@parameters('$authentication')"}}},"actions":{"Html_to_text":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HtmlToText"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_conversionservice_1']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/conversionservice"}},"method":"post","body":"<p>@{triggerBody()?['body']}</p>","path":"/html2text","authentication":"@parameters('$authentication')"}},"List_tasks":{"runAfter":{"Html_to_text":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListTasks_V3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_planner_1']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/planner"}},"method":"get","path":"/v2/v1.0/planner/plans/@{encodeURIComponent('fp2GkwwxDUWuRu2Iv2VH-GUAA-BA')}/tasks","queries":{"groupId":"2a7176f5-3f38-4e3f-ba23-033c4269c7ee"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Count_All_Tasks":["Succeeded"]},"type":"Query","inputs":{"from":"@body('List_tasks')?['value']","where":"@not(equals(item()?['title'], triggerBody()?['subject']))"}},"Count_Filtered_Tasks":{"runAfter":{"Filter_array":["Succeeded"]},"type":"Compose","inputs":"@length(body('Filter_array'))"},"Count_All_Tasks":{"runAfter":{"List_tasks":["Succeeded"]},"type":"Compose","inputs":"@length(body('List_tasks')?['value'])"},"Condition":{"actions":{"Create_a_task":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateTask_V3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_planner_1']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/planner"}},"method":"post","body":{"groupId":"2a7176f5-3f38-4e3f-ba23-033c4269c7ee","planId":"fp2GkwwxDUWuRu2Iv2VH-GUAA-BA","title":"@triggerBody()?['subject']","assignments":"@variables('ExtractedEmails')"},"headers":{"prefer":" return=representation"},"path":"/v2/v1.0/planner/tasks","authentication":"@parameters('$authentication')"}},"Delay":{"runAfter":{"Create_a_task":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Update_task_details":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UpdateTaskDetails_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_planner_1']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/planner"}},"method":"patch","body":{"description":"@body('Html_to_text')"},"headers":{"prefer":" return=representation"},"path":"/v1.0/planner/tasks/@{encodeURIComponent(body('Create_a_task')?['id'])}/details","authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"Delete_email_(V2)":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Delete_email_(V2)":{"runAfter":{"Update_task_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteEmail_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"delete","path":"/codeless/v1.0/me/messages/@{encodeURIComponent(triggerBody()?['id'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Count_Filtered_Tasks":["Succeeded"]},"expression":{"equals":["@outputs('Count_Filtered_Tasks')","@outputs('Count_All_Tasks')"]},"type":"If"},"Compose":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Compose","inputs":"@triggerBody()"},"Get_To_Emails":{"runAfter":{},"type":"Compose","inputs":"@split(triggerBody()?['toRecipients'],';')"},"Apply_to_each":{"foreach":"@outputs('Get_To_Emails')","actions":{"Condition_2":{"actions":{"Append_to_string_variable":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"ExtractedEmails","value":"@items('Apply_to_each')"}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')","axecapitalcorp"]},"type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{"Get_To_Emails":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExtractedEmails","type":"string"}]}}}},"connectionReferences":{"shared_conversionservice_1":{"connectionName":"shared-conversionser-803709d3-9609-42c7-8597-1e7b89cd86e3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified"},"shared_planner_1":{"connectionName":"shared-planner-139f5d4e-cd24-4f2e-aeed-6261f8736ddf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified"},"shared_office365":{"connectionName":"ead2b0f73ff844c7b605de5f4eb400dc","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}