samples/ProjectForTheWeb-Provisioning/sourcecode/Microsoft.Flow/flows/bee25535-b328-4aca-ba3f-137376ea82c0/definition.json
{"name":"3d00c12f-67eb-4c92-b88a-75bb595ea572","id":"/providers/Microsoft.Flow/flows/3d00c12f-67eb-4c92-b88a-75bb595ea572","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Project for the web provisioning","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"20b9dc8e-9b24-486c-84ca-de3e8f290c77","type":"User","tenantId":"d30a7732-a241-43da-ad7c-4cd14cc1bf36"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-03-11T09:44:57.438001Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f6aa49ea-e099-4a5d-9e5c-b9e1bdbfae38"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Perform_unbound_action_-_Call_CreateOperationSetV1":{"runAfter":{"Project_Team_Member":["Succeeded"]},"metadata":{"operationMetadataId":"52ca05c4-3907-42b2-b901-437cea041c1b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_CreateOperationSetV1","item/ProjectId":"@outputs('Output_of_Call_CreateProjectV1_for_ProjectId')","item/Description":"ScheduleAPIDemoOperationSet"},"authentication":"@parameters('$authentication')"}},"Compose_-_Get_operation_set_ID":{"runAfter":{"Perform_unbound_action_-_Call_CreateOperationSetV1":["Succeeded"]},"metadata":{"operationMetadataId":"a55ea7af-ade2-4c5d-b992-eee115d80a88"},"type":"Compose","inputs":"@outputs('Perform_unbound_action_-_Call_CreateOperationSetV1')?['body/OperationSetId']"},"Call_ExecuteOperationSetV1":{"runAfter":{"Scope_-_Main_task_creation":["Succeeded"]},"metadata":{"operationMetadataId":"1794ec31-ad56-4f91-bba9-81edc135de41"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_ExecuteOperationSetV1","item/OperationSetId":"@outputs('Compose_-_Get_operation_set_ID')"},"authentication":"@parameters('$authentication')"}},"Project_Team_Member":{"actions":{"Perform_an_unbound_action_-_Call_CreateTeamMemberV1":{"runAfter":{},"metadata":{"operationMetadataId":"27eee09c-5dcd-4068-b4ad-efd6d0b28ec3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"@trim('msdyn_CreateTeamMemberV1')","item":{"TeamMember":{"msdyn_name":"TeamMember1","msdyn_projectapprover":"@false","msdyn_start":"@{utcNow('yyyy-MM-dd')}","msdyn_finish":"@{utcNow('yyyy-MM-dd')}","msdyn_project@odata.bind":"/msdyn_projects(@{outputs('Output_of_Call_CreateProjectV1_for_ProjectId')})"}}},"authentication":"@parameters('$authentication')"},"description":"trim('msdyn_CreateTeamMemberV1')"},"Output_of_Call_CreateTeamMemberV1":{"runAfter":{"Perform_an_unbound_action_-_Call_CreateTeamMemberV1":["Succeeded"]},"metadata":{"operationMetadataId":"950b16cc-4ce2-4b15-9e83-65e40a55094b"},"type":"Compose","inputs":"@body('Perform_an_unbound_action_-_Call_CreateTeamMemberV1')?['TeamMemberId']","description":"body('Perform_an_unbound_action_-_Call_CreateTeamMemberV1')?['TeamMemberId']"}},"runAfter":{"Scope_-_Project_creation":["Succeeded"]},"metadata":{"operationMetadataId":"fbcba69c-7a3d-4057-93e2-5fbe7a0e4ed1"},"type":"Scope"},"Scope_-_Create_a_Project_Bucket":{"actions":{"Perform_unbound_action_-_Project_Buckets":{"runAfter":{},"metadata":{"operationMetadataId":"6fa3a8c3-1587-40f9-9839-9aba9b984c41"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_PssCreateV1","item/Entity":{"msdyn_name":"My project bucket","@{outputs('Compose_-_@')}odata.type":"Microsoft.Dynamics.CRM.msdyn_projectbucket","msdyn_project@odata.bind":"msdyn_projects(@{outputs('Output_of_Call_CreateProjectV1_for_ProjectId')})"},"item/OperationSetId":"@outputs('Compose_-_Get_operation_set_ID')"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_-_Project_Bucket_response":{"runAfter":{"Perform_unbound_action_-_Project_Buckets":["Succeeded"]},"metadata":{"operationMetadataId":"f56fccb7-4cbd-4fe9-9610-66a61c496257"},"type":"ParseJson","inputs":{"content":"@outputs('Perform_unbound_action_-_Project_Buckets')?['body/OperationSetResponse']","schema":{"type":"object","properties":{"<OperationSetResponses>k__BackingField":{"type":"array","items":{"type":"object","properties":{"Key":{"type":"string"},"Value":{"type":"string"}},"required":["Key","Value"]}}}}}},"Filter_array_-_Project_Bucket_-_get_recordId":{"runAfter":{"Parse_JSON_-_Project_Bucket_response":["Succeeded"]},"metadata":{"operationMetadataId":"1c79c058-719e-4e44-b4cb-64cbe64b8ef3"},"type":"Query","inputs":{"from":"@body('Parse_JSON_-_Project_Bucket_response')?['<OperationSetResponses>k__BackingField']","where":"@equals(item()?['Key'], 'recordId')"}},"Compose_-_ID_of_project_bucket":{"runAfter":{"Filter_array_-_Project_Bucket_-_get_recordId":["Succeeded"]},"metadata":{"operationMetadataId":"5214ded8-e31d-4948-b6c7-0de91dd8ae4f"},"type":"Compose","inputs":"@last(body('Filter_array_-_Project_Bucket_-_get_recordId'))?['value']","description":"last(body('Filter_array_-_Project_Bucket_-_get_recordId'))?['value']"}},"runAfter":{"Compose_-_@":["Succeeded"]},"metadata":{"operationMetadataId":"10a8ae7f-5f9b-4fbf-ba9a-5d76e2fd5886"},"type":"Scope"},"Scope_-_Main_task_creation":{"actions":{"Perform_unbound_action_-_Create_Main_task":{"runAfter":{},"metadata":{"operationMetadataId":"1d9b229f-917d-46fc-9b81-6ba17a550459"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_PssCreateV1","item/Entity":{"msdyn_subject":"Main task","msdyn_outlinelevel":1,"@{outputs('Compose_-_@')}odata.type":"Microsoft.Dynamics.CRM.msdyn_projecttask","msdyn_project@odata.bind":"msdyn_projects(@{outputs('Output_of_Call_CreateProjectV1_for_ProjectId')})","msdyn_projectbucket@odata.bind":"msdyn_projectbuckets(@{outputs('Compose_-_ID_of_project_bucket')})"},"item/OperationSetId":"@outputs('Compose_-_Get_operation_set_ID')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Scope_-_Create_a_Project_Bucket":["Succeeded"]},"metadata":{"operationMetadataId":"d51d8fd9-7da0-4ec3-8f7f-1738b6c21298"},"type":"Scope"},"Scope_-_Project_creation":{"actions":{"Output_of_Call_CreateProjectV1_for_ProjectId":{"runAfter":{"Perform_an_unbound_action_-_CreateProject":["Succeeded"]},"metadata":{"operationMetadataId":"f613147b-4a33-4bbb-a1a2-cbd295dfe052"},"type":"Compose","inputs":"@body('Perform_an_unbound_action_-_CreateProject')?['ProjectId']","description":"body('Perform_an_unbound_action_-_CreateProject')?['ProjectId']"},"Perform_an_unbound_action_-_CreateProject":{"runAfter":{},"metadata":{"operationMetadataId":"c49785c4-8d5c-424a-9bca-830abf780935"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"@trim('msdyn_CreateProjectV1')","item":{"Project":{"msdyn_subject":"Project created on: @{utcNow()}","msdyn_scheduledstart":"@{utcNow('yyyy-MM-dd')}","msdyn_workhourtemplate@odata.bind":"msdyn_workhourtemplates(@{variables('VarWorkhourTemplate')})","msdyn_ContractOrganizationalUnitId@odata.bind":"msdyn_organizationalunits(@{variables('VarOrganisationunit')})","ownerid@odata.bind":"/systemusers(@{variables('VarAccountID')})"}}},"authentication":"@parameters('$authentication')"},"description":"trim('msdyn_CreateProjectV1')"}},"runAfter":{"Initialize_variable_-_VarOrganisationunit":["Succeeded"]},"metadata":{"operationMetadataId":"b5589289-bf0d-49b2-88be-6c5f0f4a568a"},"type":"Scope"},"Initialize_variable_-_VarAccountID":{"runAfter":{},"metadata":{"operationMetadataId":"e8e2d2ce-6015-41b7-98c3-fa720f4ec06b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VarAccountID","type":"string","value":"154c7456-3e99-ec11-b400-0022489e2d6c"}]}},"Initialize_variable_-_VarWorkhourTemplate":{"runAfter":{"Initialize_variable_-_VarAccountID":["Succeeded"]},"metadata":{"operationMetadataId":"28418b75-53d2-467e-acf1-95d209bcfb27"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VarWorkhourTemplate","type":"string","value":"b49a8cb1-118f-ec11-b400-000d3ab4dd98"}]}},"Initialize_variable_-_VarOrganisationunit":{"runAfter":{"Initialize_variable_-_VarWorkhourTemplate":["Succeeded"]},"metadata":{"operationMetadataId":"4193fd2d-421d-4142-a813-1b6ff1fc67f6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VarOrganisationunit","type":"string","value":"ad9a8cb1-118f-ec11-b400-000d3ab4dd98"}]}},"Compose_-_@":{"runAfter":{"Compose_-_Get_operation_set_ID":["Succeeded"]},"metadata":{"operationMetadataId":"a5f0791a-cf62-4001-9b99-e0eeb74b630b"},"type":"Compose","inputs":"@@"}}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"2a81f91bc08949c58eebe3191a2d8351","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}