samples/sharepoint-move-list-item-to-folder/sourcecode/Microsoft.Flow/flows/8ed0d630-797c-448d-bee5-74c72fda064f/definition.json
{"name":"eb2dd9a4-77ba-4616-85b8-c25db421c403","id":"/providers/Microsoft.Flow/flows/eb2dd9a4-77ba-4616-85b8-c25db421c403","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Flow - Move SharePoint list item to Folder","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e1c8cec1-b309-48a0-abe4-aebc28c79969","type":"User","tenantId":"7e404bac-f26b-48bd-a2c4-1953f0157ae0"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-08-25T09:38:20.288588Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnUpdatedItems"},"operationMetadataId":"fa7d7f5f-c475-4d8e-bc12-8cd56ab1135d"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://contoso.sharepoint.com/sites/SPFxDevLegacy'))}/tables/@{encodeURIComponent(encodeURIComponent('5547c495-f247-4e75-ad06-bfeac1c43675'))}/onupdateditems","authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@equals(triggerBody()?['{IsFolder}'],false)"}]}},"actions":{"Initialize_variable_-_SiteUrl":{"runAfter":{"Initialize_variable_-_ItemID":["Succeeded"]},"metadata":{"operationMetadataId":"d81e36d2-842f-4ad5-a1e9-a895d7a291a7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SiteUrl","type":"String","value":"@{split(outputs('ComposeItemUrl'),'_layouts')[0]}"}]},"description":"For Flow readability and understanding purposes, all values from below on are using variables instead of compose (compose would be more performant)"},"Initialize_variable_-_MoveToFolderName":{"runAfter":{"Initialize_variable_-_SiteUrl":["Succeeded"]},"metadata":{"operationMetadataId":"a94fec2f-9702-4ada-b4a8-c27be0ca082e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MoveToFolderName","type":"String","value":"@triggerBody()?['Region']?['Value']"}]},"description":"Use this variable to the field value you want to check for folder name"},"Initialize_variable_-_ItemUrl":{"runAfter":{"Initialize_variable_-_ItemFileName":["Succeeded"]},"metadata":{"operationMetadataId":"506e4bd4-ecda-4153-bbae-896d11f48439"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ItemUrl","type":"String","value":"@{split(variables('SiteUrl'),'sharepoint.com')[1]}@{outputs('ComposePathToItem')}"}]}},"Initialize_variable_-_NewItemUrl":{"runAfter":{"Initialize_variable_-_ItemUrl":["Succeeded"]},"metadata":{"operationMetadataId":"b2521552-40ad-4151-82fa-7a3303d610e4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NewItemUrl","type":"String","value":"@{replace(concat(split(variables('SiteUrl'),'sharepoint.com')[1],variables('RootFolder'),'/',variables('MoveToFolderName'),'/',variables('ItemFileName')),'''','''''')}"}]}},"Initialize_variable_-_RootFolder":{"runAfter":{"Initialize_variable_-_MoveToFolderName":["Succeeded"]},"metadata":{"operationMetadataId":"35421521-e825-4693-82fe-c775c16b223e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RootFolder","type":"String","value":"Lists/@{split(outputs('ComposePathToItem'),'/')[1]}"}]},"description":"@{body('Send_an_HTTP_Request_to_SharePoint_-_Get_Root_Folder')['d']['ServerRelativeUrl']}"},"Initialize_variable_-_ItemFileName":{"runAfter":{"Send_an_HTTP_Request_to_SharePoint_-_Get_Item":["Succeeded"]},"metadata":{"operationMetadataId":"c664182f-7bc5-4411-84d7-16401fe8bf22"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ItemFileName","type":"String","value":"@{body('Send_an_HTTP_Request_to_SharePoint_-_Get_Item')['FileLeafRef']}"}]}},"Condition":{"actions":{"Send_an_HTTP_Request_to_SharePoint_-_MoveItem":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"},"operationMetadataId":"ee5cfffe-838a-4268-aa92-cca39efebfff"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/Web/getFileByServerRelativeURL('@{variables('ItemUrl')}')/moveTo(newurl='@{variables('NewItemUrl')}',flags=1)"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('SiteUrl')))}/httprequest","authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable_-_NewItemUrl":["Succeeded"]},"expression":{"not":{"equals":["@variables('ItemUrl')","@variables('NewItemUrl')"]}},"metadata":{"operationMetadataId":"cb6b5035-6d68-4cbb-899d-9832544e239d"},"type":"If"},"Send_an_HTTP_Request_to_SharePoint_-_Get_Item":{"runAfter":{"Initialize_variable_-_RootFolder":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"},"operationMetadataId":"0304f071-2685-471e-9432-665294c5c424"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-northeurope-01.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"GET","uri":"_api/Lists(guid'@{outputs('ComposeListID')}')/Items(@{variables('ItemID')})?$select=*,FileRef,FileDirRef,FileLeafRef","headers":{"Accept":"application/json;odata=nometadata"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('SiteUrl')))}/httprequest","authentication":"@parameters('$authentication')"}},"ComposeItemUrl":{"runAfter":{"ComposeListID":["Succeeded"]},"metadata":{"operationMetadataId":"94303656-93c2-4016-a494-69447312e24b"},"type":"Compose","inputs":"@triggerBody()?['{Link}']"},"Initialize_variable_-_ItemID":{"runAfter":{"ComposePathToItem":["Succeeded"]},"metadata":{"operationMetadataId":"1409338b-03bb-4d3e-83e8-e256dbd49408"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ItemID","type":"integer","value":"@triggerBody()?['ID']"}]}},"ComposePathToItem":{"runAfter":{"ComposeItemUrl":["Succeeded"]},"metadata":{"operationMetadataId":"c6be63cb-23a6-4e0b-befb-9d135c591839"},"type":"Compose","inputs":"@triggerBody()?['{FullPath}']"},"ComposeListID":{"runAfter":{},"metadata":{"operationMetadataId":"6d4de3e7-8a3a-44d0-b7f8-c83312fa9da4"},"type":"Compose","inputs":"@split(split(trigger()['inputs']['path'],'tables/')[1],'/')[0]"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-b79410b3-3243-42f8-909f-1ff97ba7c057","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}