samples/exception-handing-in-do-until-loop/sourcecode/Microsoft.Flow/flows/36b8bfc6-708f-433f-a986-e6fe922b95a2/definition.json
{"name":"c427f27c-7a76-4b28-8ebf-0d761069610e","id":"/providers/Microsoft.Flow/flows/c427f27c-7a76-4b28-8ebf-0d761069610e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Pattern: Exception handing in 'Do until'-loop","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"e1d4472e-0125-4313-9ba2-24667e75c696","type":"User","tenantId":"bbfde416-ad70-4316-81eb-73b70da0b6cd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-05-01T17:16:52.4504743Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Do_until":{"actions":{"Scope":{"actions":{"Actual_work":{"runAfter":{},"type":"Compose","inputs":"@div(5, rand(0, 5))"},"Set_'Do_Until_Status'_to_Complete_if_work_is_done":{"actions":{"Set_'Do_Until_Status'_to_Complete":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Do Until Status","value":"complete"}}},"runAfter":{"Actual_work":["Succeeded"]},"expression":{"equals":["@outputs('Actual_work')",1]},"type":"If"}},"runAfter":{},"type":"Scope"},"On_failure_set_'Do_Until_Status'_to_Exception":{"runAfter":{"Scope":["Failed"]},"type":"SetVariable","inputs":{"name":"Do Until Status","value":"exception"}}},"runAfter":{"Initialize_variable_'Do_Until_Status'":["Succeeded"]},"expression":"@not(equals(variables('Do Until Status'), 'processing'))","limit":{"count":5,"timeout":"PT1H"},"type":"Until"},"Initialize_variable_'Do_Until_Status'":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Do Until Status","type":"string","value":"processing"}]}},"Check_'Do_Until_status'_and_terminate_with_correct_status":{"actions":{"Terminate_with_Succeeded":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Do_until":["Succeeded"]},"else":{"actions":{"Terminate_with_Failed":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed"}}}},"expression":{"equals":["@variables('Do Until Status')","complete"]},"type":"If"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false}}