samples/sharepoint-collect-feedback/sourcode/SharePointCollectFeedback/Microsoft.Flow/flows/db9fb40c-0860-43b2-b6de-25ac08a28393/definition.json
{"name":"7be596ed-3fee-4701-9d9b-1747be54fd00","id":"/providers/Microsoft.Flow/flows/7be596ed-3fee-4701-9d9b-1747be54fd00","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Collect Feedback","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"2dad8891-58c1-4e61-966f-ad9813ab1365","type":"User","tenantId":"33df2eae-8315-4a6f-ab5f-af2a67d46f37"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-07-06T20:35:32.9760447Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"email":{"title":"Assigned To","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"text":{"title":"Message","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"entity":{"type":"object","properties":{"ID":{"title":"ID","type":"integer","format":"int64"}},"required":["ID"]}},"required":["email","text","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"operationId":"ForASelectedFileHybridTrigger","parameters":{"dataset":"https://axecapitalcorp.sharepoint.com/sites/Training","table":"61825a26-82cc-4904-ae53-322fe684635b"},"headersSchema":{"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Get_file_properties":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://axecapitalcorp.sharepoint.com/sites/Training","table":"61825a26-82cc-4904-ae53-322fe684635b","id":"@triggerBody()?['entity']?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Start_and_Wait_for_Feedback":{"runAfter":{"Get_file_properties":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponseAwaitAll","WebhookApprovalCreationInput/responseOptions":["Feedback"],"WebhookApprovalCreationInput/title":"Feedback Requested for @{outputs('Get_file_properties')?['body/Title']}","WebhookApprovalCreationInput/assignedTo":"@{triggerBody()['email']};","WebhookApprovalCreationInput/details":"@triggerBody()['text']","WebhookApprovalCreationInput/itemLink":"@outputs('Get_file_properties')?['body/{Link}']","WebhookApprovalCreationInput/itemLinkDescription":"@outputs('Get_file_properties')?['body/Title']","WebhookApprovalCreationInput/requestor":"@{triggerOutputs()['headers']['x-ms-user-email-encoded']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_Feedback":{"foreach":"@outputs('Start_and_Wait_for_Feedback')?['body/responses']","actions":{"Add_Feedback_to_List":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://axecapitalcorp.sharepoint.com/sites/Training","table":"0703c4a2-c367-4ee5-a75c-2110aea8862c","item/Title":"@items('Get_Feedback')?['responder/displayName']","item/Comments":"@items('Get_Feedback')?['comments']","item/ItemID/Id":"@outputs('Get_file_properties')?['body/ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Email_Feedback_to_Requestor":{"runAfter":{"Add_Feedback_to_List":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email-encoded']","emailMessage/Subject":"Feedback Provided for @{outputs('Get_file_properties')?['body/Title']}","emailMessage/Body":"<p>@{items('Get_Feedback')?['responder/displayName']} has provided feedback for your item - @{outputs('Get_file_properties')?['body/Title']}. &nbsp;Please see feedback below:<br>\n<br>\n@{items('Get_Feedback')?['comments']}<br>\n<br>\nLink to File: <a href=\"@{outputs('Get_file_properties')?['body/{Link}']}\">@{outputs('Get_file_properties')?['body/{Link}']}</a><br>\n<br>\nSee all feedback <a href=\"https://axecapitalcorp.sharepoint.com/sites/Training/Lists/Feedback/AllItems.aspx?FilterField1=ItemID&amp;FilterValue1=@{outputs('Get_file_properties')?['body/ID']}\">here</a>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Start_and_Wait_for_Feedback":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"3bf42c5ac2964f86ad79806552577077","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-be6616cf-71ce-4a0b-a419-9786c94e4cf2","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"ead2b0f73ff844c7b605de5f4eb400dc","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}