samples/new-employee-tip-of-the-day/sourcecode/Microsoft.Flow/flows/58fe7a02-48d0-40af-bf91-8e83685cb938/definition.json
{"name":"73083d5d-4671-4742-b6d2-26b5052ec054","id":"/providers/Microsoft.Flow/flows/73083d5d-4671-4742-b6d2-26b5052ec054","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"NewEmployeeTips","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"be11f523-2a4d-4eae-9d42-277410893c41","type":"User","tenantId":"2942bb31-1d49-4da6-8d3d-d0f9e1141486"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-10-05T21:19:17.4653526Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2021-09-26T07:00:00.000Z"},"type":"Recurrence"}},"actions":{"flow":{"actions":{"GetAllNewEmployees":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@variables('SiteUrl')","table":"@variables('EmployeeListName')","viewScopeOption":"Default"},"authentication":"@parameters('$authentication')"}},"ForeachNewEmployee":{"foreach":"@outputs('GetAllNewEmployees')?['body/value']","actions":{"SetTipId":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TipId","value":"@add(int(item()?['LastTipId']), 1)"}},"GetAllMatchingTips":{"runAfter":{"SetTipId":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@variables('SiteUrl')","table":"@variables('EmployeeTipsListName')","viewScopeOption":"Default","$filter":"TipId eq '@{variables('TipId')}'","$top":1},"authentication":"@parameters('$authentication')"}},"If":{"actions":{"ForeachTip":{"foreach":"@outputs('GetAllMatchingTips')?['body/value']","actions":{"PostACToTeamsEmployee":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('ForeachNewEmployee')?['EmployeeMail']","body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Tip of the day\",\n            \"weight\": \"Bolder\",\n            \"size\": \"Large\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{items('ForeachTip')?['Tip']}\",\n            \"wrap\": true,\n            \"size\": \"Medium\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"ModifiEmployeeItem":{"runAfter":{"ForeachTip":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://tenanttocheck.sharepoint.com/sites/newEmployee","table":"5960bef7-f00f-411b-b9aa-d4933661ec8c","id":"@items('ForeachNewEmployee')?['ID']","item/LastTipId":"@variables('TipId')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"GetAllMatchingTips":["Succeeded"]},"else":{"actions":{"RemoveEmployeeFromList":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteItem"},"parameters":{"dataset":"@variables('SiteUrl')","table":"@variables('EmployeeListName')","id":"@items('ForeachNewEmployee')?['ID']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('GetAllMatchingTips')?['body/value'])",0]},"type":"If"}},"runAfter":{"GetAllNewEmployees":["Succeeded"]},"type":"Foreach"}},"runAfter":{"InitEmployeeTipsListName":["Succeeded"]},"type":"Scope"},"InitTipId":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TipId","type":"integer","value":0}]}},"InitSiteUrl":{"runAfter":{"InitTipId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SiteUrl","type":"string","value":"https://tenanttocheck.sharepoint.com/sites/newEmployee"}]}},"InitEmployeeListName":{"runAfter":{"InitSiteUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmployeeListName","type":"string","value":"NewEmployee"}]}},"InitEmployeeTipsListName":{"runAfter":{"InitEmployeeListName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmployeeTipsListName","type":"string","value":"NewEmployeeTips"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-6ef6f5d4-7955-47e9-9ebe-e16c8a33282f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-0bb64221-bfbb-4621-bb82-4b3d-cfbb8af4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}