samples/sharepoint-hide-page-title/sourcecode/Microsoft.Flow/flows/76904980-a131-42ff-b5ee-b259a32b5c6d/definition.json
{"name":"0669f846-d896-4a2f-8b62-afab3455f337","id":"/providers/Microsoft.Flow/flows/0669f846-d896-4a2f-8b62-afab3455f337","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Switch Page Type","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"fd7125ea-489b-496e-a2d6-db10922e8c20","type":"User","tenantId":"2d5ec780-b7f6-4311-a13d-5022224f1c5b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-09-11T17:08:20.3581997Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"ID":{"title":"ID","type":"integer","format":"int64"},"itemUrl":{"title":"itemUrl","type":"string"}},"required":["ID","itemUrl"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://uk-001.azure-apim.net/apim/sharepointonline"}},"operationId":"ForASelectedFileHybridTrigger","parameters":{"dataset":"https://m365x953963.sharepoint.com/sites/ThePerspective","table":"ca7e2cb4-7a31-40c2-96d5-1d5758bbf158"}}}},"actions":{"Switch":{"runAfter":{"Initialize_variable_-_Page_Layout":["Succeeded"]},"cases":{"Case":{"case":"Article","actions":{"Set_variable_-_Switch_Layout_to_Home":{"runAfter":{},"type":"SetVariable","inputs":{"name":"PageLayout","value":"Home"}}}},"Case_2":{"case":"Home","actions":{"Set_variable_-_Switch_Layout_to_Article":{"runAfter":{},"type":"SetVariable","inputs":{"name":"PageLayout","value":"Article"}}}}},"default":{"actions":{}},"expression":"@variables('PageLayout')","type":"Switch","description":"Don't do anything in case of WebPart App pages"},"Send_an_HTTP_request_to_SharePoint_-_Get_Page_Fields":{"runAfter":{"Initialize_variable_-_Page_Path":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('SiteURL')","parameters/method":"GET","parameters/uri":"_api/web/GetFileByServerRelativeUrl('@{variables('PagePath')}')/ListItemAllFields?$select=Title,ID,PageLayoutType","parameters/headers":{"Accept":"application/json;odata=nometadata"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_-_Switch_Layout":{"runAfter":{"Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('SiteURL')","parameters/method":"PATCH","parameters/uri":"_api/web/lists/getByTitle('Site Pages')/items(@{body('Parse_JSON_-_Page_Fields')?['Id']})","parameters/headers":{"If-Match":"*","Content-Type":"application/json","Accept":"application/json"},"parameters/body":"{ \"PageLayoutType\": \"@{variables('PageLayout')}\"}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable_-_Page_Layout":{"runAfter":{"Parse_JSON_-_Page_Fields":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PageLayout","type":"string","value":"@body('Parse_JSON_-_Page_Fields')?['PageLayoutType']"}]}},"Initialize_variable_-_Site_URL":{"runAfter":{"Initialize_variable_-_PageUrl":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SiteURL","type":"string","value":"@{split(variables('PageUrl'),'SitePages')[0]}"}]}},"Initialize_variable_-_Page_Path":{"runAfter":{"Initialize_variable_-_Site_URL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"PagePath","type":"string","value":"@{split(variables('PageUrl'),'sharepoint.com')[1]}"}]}},"Parse_JSON_-_Page_Fields":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_Get_Page_Fields":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Send_an_HTTP_request_to_SharePoint_-_Get_Page_Fields')?['body']","schema":{"type":"object","properties":{"Title":{"type":"string"},"PageLayoutType":{"type":"string"},"ID":{"type":"integer"}}}}},"Initialize_variable_-_PageUrl":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"PageUrl","type":"string","value":"@triggerBody()?['entity']?['itemUrl']"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"adbee9a6d2064a7f905dafebc1e08453","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}