samples/azure-content-moderation-text/sourcecode/Microsoft.Flow/flows/2ef70e39-21bb-4d7f-8511-06e32dc375bd/definition.json
{"name":"c78ae92d-3b44-43d9-b31b-bc2213443e40","id":"/providers/Microsoft.Flow/flows/c78ae92d-3b44-43d9-b31b-bc2213443e40","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ModerateText","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e15cde1d-edef-4114-bdf4-bd62689f2061","type":"User","tenantId":"c09030dd-81e0-44af-a342-68c9358c43dd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-08-17T00:29:52.2641042Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"0e84ae0f-bba8-4fd6-b9d2-3606d24fafe4"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable2_Value":{"type":"any"},"IVPII_Value":{"type":"boolean","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"IVClassify_Value":{"type":"boolean","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"IVBody_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"IVAutoCorrect_Value":{"type":"boolean","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable2_Value","IVPII_Value","IVClassify_Value","IVBody_Value","IVAutoCorrect_Value"]}}}},"actions":{"HTTP":{"runAfter":{"IVBody":["Succeeded"]},"metadata":{"operationMetadataId":"7b4b0981-f338-4ec6-aace-c3742a1ea571"},"type":"Http","inputs":{"method":"POST","uri":"@variables('RestAPI')","headers":{"Ocp-Apim-Subscription-Key":"de82e38a3dc04cd088c837c7ac112640"},"body":"@variables('Content')"}},"Initialize_variable":{"runAfter":{"IVClassify":["Succeeded"]},"metadata":{"operationMetadataId":"73bcda67-96b4-4168-a37a-ecaa8221d78e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RestAPI","type":"string","value":"https://modera.cognitiveservices.azure.com/contentmoderator/moderate/v1.0/ProcessText/Screen?autocorrect=@{variables('AutoCorrect')}&PII=@{variables('PII')}&classify= @{variables('Classify')}"}]}},"IVAutoCorrect":{"runAfter":{},"metadata":{"operationMetadataId":"3422db53-8ffa-432c-a5d0-d64cb13ad7f0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"AutoCorrect","type":"boolean","value":"@triggerBody()['IVAutoCorrect_Value']"}]}},"IVPII":{"runAfter":{"IVAutoCorrect":["Succeeded"]},"metadata":{"operationMetadataId":"b6acbf3f-aaf1-41d2-bc3d-cde0ac9cef53"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PII","type":"boolean","value":"@triggerBody()['IVPII_Value']"}]}},"IVClassify":{"runAfter":{"IVPII":["Succeeded"]},"metadata":{"operationMetadataId":"2b516d84-8ae1-44f3-a404-3ce902dddeab"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Classify","type":"boolean","value":"@triggerBody()['IVClassify_Value']"}]}},"IVBody":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"3422db53-8ffa-432c-a5d0-d64cb13ad7f0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Content","type":"string","value":"@{triggerBody()['IVBody_Value']}"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"52fb1c2f-aef2-40b1-81b8-cad640a9cb05"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"outputs":"@{body('HTTP')}"},"schema":{"type":"object","properties":{"outputs":{"title":"Outputs","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}