samples/Set-Dataverse-Lookups/sourcecode/Microsoft.Flow/flows/01642aa3-8170-4fd9-b923-7bd8965d0014/definition.json
{"name":"d7860a7f-e629-42d1-9e71-b169600583af","id":"/providers/Microsoft.Flow/flows/d7860a7f-e629-42d1-9e71-b169600583af","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Set-Dataverse-Lookups","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"7b6a4ed9-94c8-44f3-ab0b-9cdb6059312f","type":"User","tenantId":"12078d6f-a51c-4e18-99d3-1e10d249828e"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-12-15T17:06:43.0669535Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"7d9c70f4-99ff-460a-93f8-ff76594d4948"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Create_a_test_account":{"runAfter":{},"metadata":{"operationMetadataId":"4ac33fdc-921f-4209-af28-3fd5d11a4d76"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"accounts","item/name":"Test"},"authentication":"@parameters('$authentication')"}},"Create_a_contact":{"runAfter":{"Create_a_test_account":["Succeeded"]},"metadata":{"operationMetadataId":"ffeeee24-e400-449a-9942-858442d8b2d7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"contacts","item/lastname":"Test","item/parentcustomerid_account@odata.bind":"@if(equals(outputs('Create_a_test_account')?['body/_primarycontactid_value'],null),null,concat('contacts/(',outputs('Create_a_test_account')?['body/_primarycontactid_value'],')'))"},"authentication":"@parameters('$authentication')"}},"Relate_Actions":{"actions":{"Relate_Contact_to_Account":{"runAfter":{},"metadata":{"operationMetadataId":"013a86a1-318f-44f8-ae98-9a968ba4bfda"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities"},"parameters":{"entityName":"accounts","recordId":"@outputs('Create_a_test_account')?['body/accountid']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('Create_a_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_Primary_Contact_to_Account":{"runAfter":{"Relate_Contact_to_Account":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"bfddbf94-4ce5-4346-b27c-546e63021e87"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities"},"parameters":{"entityName":"contacts","recordId":"@outputs('Create_a_contact')?['body/contactid']","associationEntityRelationship":"account_primary_contact","item/@odata.id":"@outputs('Create_a_test_account')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_a_contact":["Succeeded"]},"metadata":{"operationMetadataId":"3c024357-4860-48d5-823b-c54f9261e8c8"},"type":"Scope"},"Terminate":{"runAfter":{"Relate_Actions":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"8cd0a636-46cd-4baf-9cde-607eb0432017"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"outputs":{}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-ac8e899d-456a-480f-bee3-8ac9907fc605","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}