samples/site-design-homepage/sourcecode/ApplyTemplate/Microsoft.Flow/flows/0e83eecd-6ba8-411a-a0bc-2f80099564dc/definition.json
{"name":"70b45faf-92c7-4022-af9e-a1d57278eae3","id":"/providers/Microsoft.Flow/flows/70b45faf-92c7-4022-af9e-a1d57278eae3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Apply Template","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"0cf3f9d4-2ff0-40f6-ba39-4eec8f4f62d5","type":"User","tenantId":"42242eff-faf6-4ccd-aea3-e2c4479f8ccb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-06-08T16:15:06.3000283Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Content-Type":{"defaultValue":"application/json;odata=verbose","type":"String","metadata":{"schemaName":"fvsd_contenttype","description":"HTTP Request Header"}},"Accept":{"defaultValue":"application/json;odata=verbose","type":"String","metadata":{"schemaName":"fvsd_accept","description":"HTTP Request Header"}}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"webUrl":{"type":"string"},"parameters":{"type":"object","properties":{"event":{"type":"string"},"product":{"type":"string"}}},"webDescription":{"type":"string"},"creatorName":{"type":"string"},"creatorEmail":{"type":"string"},"createdTimeUTC":{"type":"string"}}}}}},"actions":{"Set_New_Site_Home_Page":{"actions":{"Set_Title_for_New_Shared_Site":{"runAfter":{"Get_Master_Home_Page_Template":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://fvsdabca.sharepoint.com/sites/engage","table":"fa707f5a-55b8-4e44-bbc0-0a3b1d19187e","id":"@outputs('Get_Master_Home_Page_Template')?['body']['value'][0]['id']","item/Title":"@outputs('Get_New_Site_Title')?['body']['d']['Title']"},"authentication":"@parameters('$authentication')"}},"Check_Out_Provisioned_Master_Page":{"runAfter":{"Set_Title_for_New_Shared_Site":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()?['webUrl']","parameters/method":"POST","parameters/uri":"_api/sitepages/pages(1)/CheckOutPage","parameters/headers":{"Content-type":"application/json;odata=verbose","Accept":"application/json;odata=verbose"}},"authentication":"@parameters('$authentication')"}},"Copy_Master_Template_to_Provisioned_Site":{"runAfter":{"Check_Out_Provisioned_Master_Page":["Succeeded"]},"metadata":{"%252fpatemplates%252fHome.aspx":"/patemplates/Home.aspx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFileAsync"},"parameters":{"dataset":"https://fvsdabca.sharepoint.com/sites/engage","parameters/sourceFileId":"%252fpatemplates%252fHome.aspx","parameters/destinationDataset":"@triggerBody()?['webUrl']","parameters/destinationFolderPath":"/SitePages","parameters/nameConflictBehavior":1},"authentication":"@parameters('$authentication')"}},"Publish_Copied_Master_Page":{"runAfter":{"Copy_Master_Template_to_Provisioned_Site":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()?['webUrl']","parameters/method":"POST","parameters/uri":"_api/sitepages/pages(1)/Publish","parameters/headers":{"Content-type":"application/json;odata=verbose","Accept":"application/json;odata=verbose"}},"authentication":"@parameters('$authentication')"}},"Get_New_Site_Title":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()?['webUrl']","parameters/method":"GET","parameters/uri":"/_api/web/title","parameters/headers":{"Content-type":"application/json;odata=verbose","Accept":"application/json;odata=verbose"}},"authentication":"@parameters('$authentication')"}},"Get_Master_Home_Page_Template":{"runAfter":{"New_Site_Title":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://fvsdabca.sharepoint.com/sites/engage","table":"fa707f5a-55b8-4e44-bbc0-0a3b1d19187e","$filter":"FileLeafRef eq 'Home.aspx'"},"authentication":"@parameters('$authentication')"}},"New_Site_Title":{"runAfter":{"Get_New_Site_Title":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_New_Site_Title')?['body']['d']['Title']"}},"runAfter":{},"type":"Scope"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a1c6936b12da4604aae881d71f78e595","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}