samples/new-employee-tip-of-the-day/sourcecode/Microsoft.Flow/flows/ff950b17-ea7a-4569-8964-4195e7beaa52/definition.json
{"name":"2188fded-bab9-4c14-a7cf-37a6aa3178e9","id":"/providers/Microsoft.Flow/flows/2188fded-bab9-4c14-a7cf-37a6aa3178e9","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"NewEmployeeTips","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b29831a9-9178-4b75-a0fe-2043608497ef","type":"User","tenantId":"2fb81f0d-c6ef-4c83-b35c-9553261f9d9b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-07-14T10:18:04.7638908Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2021-09-26T07:00:00.000Z"},"metadata":{"operationMetadataId":"a9ea1244-860e-4f67-b9ee-94bf0288fadd"},"type":"Recurrence"}},"actions":{"flow":{"actions":{"GetAllNewEmployees":{"runAfter":{},"metadata":{"operationMetadataId":"8b530b15-13e2-406e-b25c-759df45426bb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"@variables('SiteUrl')","table":"@variables('EmployeeListName')","viewScopeOption":"Default"},"authentication":"@parameters('$authentication')"}},"ForeachNewEmployee":{"foreach":"@outputs('GetAllNewEmployees')?['body/value']","actions":{"SetTipId":{"runAfter":{},"metadata":{"operationMetadataId":"9b04f3f9-b3c6-4468-8ded-9d831ec66eb5"},"type":"SetVariable","inputs":{"name":"TipId","value":"@add(int(item()?['LastTipId']), 1)"}},"GetAllMatchingTips":{"runAfter":{"SetTipId":["Succeeded"]},"metadata":{"operationMetadataId":"0031c259-5e15-4337-9d98-b5f18e958ff1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"@variables('SiteUrl')","table":"@variables('EmployeeTipsListName')","viewScopeOption":"Default","$filter":"TipId eq '@{variables('TipId')}'","$top":1},"authentication":"@parameters('$authentication')"}},"If":{"actions":{"ForeachTip":{"foreach":"@outputs('GetAllMatchingTips')?['body/value']","actions":{"PostACToTeamsEmployee":{"runAfter":{},"metadata":{"operationMetadataId":"1ff7c49a-d966-492d-bea5-42f94de6bf31"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams_1","operationId":"PostCardToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@items('ForeachNewEmployee')?['EmployeeMail']","body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n     \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Tip of the day\",\n            \"weight\": \"Bolder\",\n            \"size\": \"Large\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{items('ForeachTip')?['Tip']}\",\n            \"wrap\": true,\n            \"size\": \"Medium\"\n        }\n    ]\n}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"545d8e6a-3a90-4724-b596-c77b1c60bcd2"},"type":"Foreach"},"ModifiEmployeeItem":{"runAfter":{"ForeachTip":["Succeeded"]},"metadata":{"operationMetadataId":"eb3cd6ee-ba38-4f8c-b710-ad9529ffe61c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"PatchItem"},"parameters":{"dataset":"@variables('SiteUrl')","table":"@variables('EmployeeListName')","id":"@items('ForeachNewEmployee')?['ID']","item":{"LastTipId":"@variables('TipId')"}},"authentication":"@parameters('$authentication')"}}},"runAfter":{"GetAllMatchingTips":["Succeeded"]},"else":{"actions":{"RemoveEmployeeFromList":{"runAfter":{},"metadata":{"operationMetadataId":"32f898c7-082f-496f-82a6-1ee0995f31a1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"DeleteItem"},"parameters":{"dataset":"@variables('SiteUrl')","table":"@variables('EmployeeListName')","id":"@items('ForeachNewEmployee')?['ID']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('GetAllMatchingTips')?['body/value'])",0]},"metadata":{"operationMetadataId":"b5ab7e61-a08a-457b-af59-17b09730f55b"},"type":"If"}},"runAfter":{"GetAllNewEmployees":["Succeeded"]},"metadata":{"operationMetadataId":"27d74adf-f2ff-4fd8-89e2-1928bab3fc4d"},"type":"Foreach"}},"runAfter":{"InitEmployeeTipsListName":["Succeeded"]},"metadata":{"operationMetadataId":"232d1e55-3718-419f-9a68-7cd4978875a2"},"type":"Scope"},"InitTipId":{"runAfter":{},"metadata":{"operationMetadataId":"cfd07e6d-2f92-4c4c-8b43-fbc120407a47"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TipId","type":"integer","value":0}]}},"InitSiteUrl":{"runAfter":{"InitTipId":["Succeeded"]},"metadata":{"operationMetadataId":"325e4f32-ceed-4910-89c6-9d17b8fc1855"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SiteUrl","type":"string","value":"https://contentandcodedev.sharepoint.com/sites/DevLab"}]}},"InitEmployeeListName":{"runAfter":{"InitSiteUrl":["Succeeded"]},"metadata":{"operationMetadataId":"229f6425-d978-46fd-a290-8a6d8b5d8115"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmployeeListName","type":"string","value":"NewEmployee"}]}},"InitEmployeeTipsListName":{"runAfter":{"InitEmployeeListName":["Succeeded"]},"metadata":{"operationMetadataId":"0962e39d-abee-411c-b97c-08f68814a459"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmployeeTipsListName","type":"string","value":"NewEmployeeTips"}]}}}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"2e4fb29fbd3b40ec886f7ff7aa6303ce","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams_1":{"connectionName":"074fbc79b9a04a0bbf5eda9d5934fcd4","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_sharepointonline_2":{"connectionName":"1247ae9634b84a589cc6ba1d676fed45","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}