samples/request-review-and-approval-for-a-selected-file/sourcecode/Microsoft.Flow/flows/ff241a62-834c-430c-b3f3-b9612e3125ab/definition.json
{"name":"57c30a17-cf98-4f05-8e1c-5892b16715eb","id":"/providers/Microsoft.Flow/flows/57c30a17-cf98-4f05-8e1c-5892b16715eb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Request Review and Approval for a Selected File","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"9913e608-454a-43cc-b618-67b166e35ef4","type":"User","tenantId":"5ca184d6-52eb-4b83-9ea5-b7f960ff5584"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-09-15T18:26:03.9428659Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"email":{"title":"Reviewer Email","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address or name of the supervisor reviewer.","x-ms-content-hint":"EMAIL"},"entity":{"type":"object","properties":{"FileId":{"type":"string"},"ID":{"title":"ID","type":"integer","format":"int64"}},"required":["FileId","ID"]}},"required":["email","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"operationId":"ForASelectedFileHybridTrigger","parameters":{"dataset":"https://lindsaytshelton.sharepoint.com/sites/DocLibrary","table":"5d4eac36-941a-4200-81ad-81535a8f3c5a"},"headersSchema":{"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}},"description":"The inputs available to the user upon selecting this flow from the SharePoint Library."}},"actions":{"Get_file_properties":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(triggerBody()?['entity']?['ID'])}/getfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"description":"Getting the file properties for the selected file for use later in the flow."},"Condition_File_not_found":{"actions":{"Create_an_approval":{"runAfter":{},"limit":{"timeout":"P14D"},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateAnApproval"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/approvals"}},"method":"post","body":{"title":"Supervisor Review: @{body('Get_file_properties')?['{Name}']}","assignedTo":"@{triggerBody()['email']};","itemLink":"@body('Get_file_properties')?['{Link}']","itemLinkDescription":"@body('Get_file_properties')?['{Name}']","enableNotifications":true,"enableReassignment":true},"path":"/types/@{encodeURIComponent('BasicAwaitAll')}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Creates the Approval that generates both an email and an alert in Teams if the Approval app is added"},"Condition_-_Is_Rejected_or_Approved":{"actions":{"Do_until_1":{"actions":{"Delay_before_rechecking_for_lock_1":{"runAfter":{"Check_if_file_is_locked_by_updating_SP_1":["Failed","TimedOut"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Minute"}},"description":"Only runs after previous step has failed or timed out - waits 10 minutes before trying again"},"Set_updateMetadata2_variable_1":{"runAfter":{"Delay_before_rechecking_for_lock_1":["Skipped"]},"type":"SetVariable","inputs":{"name":"updateMetadata2","value":"@true"},"description":"Only runs after previous step is skipped (meaning SP was able to update) - setting this variable to true signals that the Do Until automate can be exited"},"Check_if_file_is_locked_by_updating_SP_1":{"runAfter":{"Send_an_email_(V2)_that_file_is_locked_1":["Succeeded","Failed","Skipped","TimedOut"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(body('Get_file_properties')?['ID'])}/patchfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"If the previous loop exits because SharePoint threw an error, this will re-check if the SharePoint item can be updated at all yet. Configure the run after and check all four boxes."},"Send_a_confirmation_email_1":{"runAfter":{"Set_updateMetadata2_variable_1":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])","Subject":"Supervisor Approval for your file is complete","Body":"<p>The assigned Supervisor Review has been completed and rejected for the file @{body('Get_file_properties')?['{Name}']}.</p>"},"path":"/v2/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Sends an email to the flow originator notifying them that the flow is complete"},"Get_file_properties_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(triggerBody()?['entity']?['ID'])}/getfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Fetches updated properties so that the Supervisor Review Comments will be populated accurately in the next step"},"Append_to_supervisorComments_variable_1":{"runAfter":{"Get_file_properties_2":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"supervisorComments","value":" @{body('Get_file_properties_2')?['SupervisorReviewComments']}"},"description":"Takes the existing SupervisorReviewerComments field and appends it to a string variable so that previous information isn't written over"},"Apply_to_each":{"foreach":"@body('Wait_for_an_approval')?['responses']","actions":{"Append_to_allResponses_variable_1":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"allResponses","value":"@{items('Apply_to_each')?['responder']?['displayName']}: @{body('Wait_for_an_approval')?['outcome']}, @{items('Apply_to_each')?['responseDate']}, @{items('Apply_to_each')?['comments']}"},"description":"Appends each responder's name, vote, response date, and comments to the allResponses variable"}},"runAfter":{"Append_to_supervisorComments_variable_1":["Succeeded"]},"type":"Foreach","description":"Loops every response through the Append action"},"Send_an_email_(V2)_that_file_is_locked_1":{"runAfter":{"Update_file_properties_2":["Failed","TimedOut"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])","Subject":"Flow alert: A File is Locked for Editing","Body":"<p>Your flow to request a supervisor review for @{body('Get_file_properties')?['{Name}']} is currently not succeeding likely because the file is locked for editing by someone. &nbsp;<br>\n<br>\nPlease ensure that no one has the file open.<br>\n<br>\nIf you continue to receive this error, please contact the IT team to confirm the reason that the flow is failing.</p>"},"path":"/v2/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Only runs after previous step has failed or timed out - sends an email that the file is likely locked for editing to the person who started the flow"},"Update_file_properties_2":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"SupervisorReviewStatus":{"Value":"No"},"SupervisorReviewComments":"@{variables('allResponses')};@{variables('supervisorComments')}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(body('Get_file_properties')?['ID'])}/patchfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Add responder name, vote, completion date, and comments to SharePoint"}},"runAfter":{},"expression":"@equals(variables('updateMetadata2'), true)","limit":{"timeout":"PT24H"},"type":"Until","description":"The items in this loop will repeat until the updateMetadata variable is equal to true, which is set at the end when the steps are successfully completed"}},"runAfter":{"Wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Do_until_2":{"actions":{"Delay_before_rechecking_for_lock_2":{"runAfter":{"Check_if_file_is_locked_by_updating_SP_2":["Failed","TimedOut"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Minute"}},"description":"Only runs after previous step has failed or timed out - waits 10 minutes before trying again"},"Set_updateMetadata2_variable_2":{"runAfter":{"Delay_before_rechecking_for_lock_2":["Skipped"]},"type":"SetVariable","inputs":{"name":"updateMetadata2","value":"@true"},"description":"Only runs after previous step is skipped (meaning SP was able to update) - setting this variable to true signals that the Do Until automate can be exited"},"Check_if_file_is_locked_by_updating_SP_2":{"runAfter":{"Send_an_email_(V2)_that_file_is_locked_2":["Succeeded","Failed","Skipped","TimedOut"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(body('Get_file_properties')?['ID'])}/patchfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"If the previous loop exits because SharePoint threw an error, this will re-check if the SharePoint item can be updated at all yet. Configure the run after and check all four boxes."},"Send_a_confirmation_email_2":{"runAfter":{"Set_updateMetadata2_variable_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])","Subject":"Supervisor Approval for your file is complete","Body":"<p>The assigned Supervisor Review has been completed and approved for the file @{body('Get_file_properties')?['{Name}']}.&nbsp; You may proceed with the next step in the process at this time.</p>"},"path":"/v2/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Sends an email to the flow originator notifying them that the flow is complete"},"Get_file_properties_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(triggerBody()?['entity']?['ID'])}/getfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Fetches updated properties so that the Supervisor Review Comments will be populated accurately in the next step"},"Append_to_supervisorComments_variable_2":{"runAfter":{"Get_file_properties_3":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"supervisorComments","value":"@body('Get_file_properties_3')?['SupervisorReviewComments']"},"description":"Takes the existing SupervisorReviewerComments field and appends it to a string variable so that previous information isn't written over"},"Apply_to_each_2":{"foreach":"@body('Wait_for_an_approval')?['responses']","actions":{"Append_to_allResponses_variable_2":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"allResponses","value":"@{items('Apply_to_each_2')?['responder']?['displayName']}: @{body('Wait_for_an_approval')?['outcome']}, @{items('Apply_to_each_2')?['responseDate']}, @{items('Apply_to_each_2')?['comments']}"},"description":"Appends each responder's name, vote, response date, and comments to the allResponses variable"}},"runAfter":{"Append_to_supervisorComments_variable_2":["Succeeded"]},"type":"Foreach","description":"Loops every response through the Append action"},"Send_an_email_(V2)_that_file_is_locked_2":{"runAfter":{"Update_file_properties_3":["Failed","TimedOut"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])","Subject":"Flow alert: A File is Locked for Editing","Body":"<p>Your flow to request a supervisor review for @{body('Get_file_properties')?['{Name}']} is currently not succeeding likely because the file is locked for editing by someone. &nbsp;<br>\n<br>\nPlease ensure that no one has the file open.<br>\n<br>\nIf you continue to receive this error, please contact the IT team to confirm the reason that the flow is failing.</p>"},"path":"/v2/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Only runs after previous step has failed or timed out - sends an email that the file is likely locked for editing to the person who started the flow"},"Update_file_properties_3":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"SupervisorReviewStatus":{"Value":"Yes"},"SupervisorReviewComments":"@{variables('allResponses')}; @{variables('supervisorComments')}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(body('Get_file_properties')?['ID'])}/patchfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Add responder name, vote, completion date, and comments to SharePoint"}},"runAfter":{},"expression":"@equals(variables('updateMetadata2'), true)","limit":{"timeout":"PT24H"},"type":"Until","description":"The items in this loop will repeat until the updateMetadata variable is equal to true, which is set at the end when the steps are successfully completed"}}},"expression":{"contains":["@body('Wait_for_an_approval')?['outcome']","Reject"]},"type":"If","description":"Conditional for whether the Outcome is Approve or Reject.  Set up so that if Outcome contains Reject, it returns as Yes, and otherwise it returns as No (so if it's Approved)"},"Wait_for_an_approval":{"runAfter":{"Do_until_-_Add_approver_name_to_SP_and_lock_email_if_it_fails":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"WaitForAnApproval"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/approvals"}},"body":{"notificationUrl":"@{listCallbackUrl()}"},"path":"/approvals/@{encodeURIComponent(body('Create_an_approval')?['name'])}/subscriptions","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Waits for the approval (or rejection) to come back"},"Do_until_-_Add_approver_name_to_SP_and_lock_email_if_it_fails":{"actions":{"Set_updateMetadata1_variable":{"runAfter":{"Delay_before_rechecking_for_lock_3":["Skipped"]},"type":"SetVariable","inputs":{"name":"updateMetadata1","value":"@true"},"description":"Only runs after previous step is skipped (meaning SP was able to update) - setting this variable to true signals that the Do Until cycle can be exited"},"Delay_before_rechecking_for_lock_3":{"runAfter":{"Check_if_file_is_locked_by_updating_SP_3":["Failed","TimedOut"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Minute"}},"description":"Only runs after previous step has failed or timed out - waits 10 minutes before trying again"},"Check_if_file_is_locked_by_updating_SP_3":{"runAfter":{"Send_an_email_(V2)_that_file_is_locked":["Succeeded","Failed","Skipped","TimedOut"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_1']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(triggerBody()?['entity']?['ID'])}/patchfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"If the previous loop exits because SharePoint threw an error, this will re-check if the SharePoint item can be updated at all yet.  Configure the run after and check all four boxes."},"Send_an_email_(V2)_that_file_is_locked":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@base64ToString(triggerOutputs()['headers']['x-ms-user-email-encoded'])","Subject":"Flow alert: A File is Locked for Editing","Body":"<p>Your flow to request a supervisor review for @{body('Get_file_properties')?['{Name}']} is currently not succeeding likely because the file is locked for editing by someone. &nbsp;<br>\n<br>\nPlease ensure that no one has the file open.<br>\n<br>\nYou will know your file has been closed when you receive an Approval or Rejection email, or when the flow times out after one day.<br>\n<br>\nIf you continue to receive this error, please contact the IT team to confirm the reason that the flow is failing.</p>"},"path":"/v2/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Only runs after previous step has failed or timed out - sends an email that the file is likely locked for editing to the person who started the flow"},"Add_approvers_to_an_array_variable":{"foreach":"@body('Create_an_approval')?['approvers']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"supervisorReviewers","value":{"Claims":"@{items('Add_approvers_to_an_array_variable')?['email']}"}},"description":"Formatted specially for the multiple-selection allowed People Picker field, in case multiple supervisor reviewers are selected"}},"runAfter":{},"type":"Foreach","description":"Nested in an Apply to Each in case multiple approvers are selected"},"Update_file_properties":{"runAfter":{"Add_approvers_to_an_array_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_2']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"SupervisorReviewer":"@variables('supervisorReviewers')"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://lindsaytshelton.sharepoint.com/sites/DocLibrary'))}/tables/@{encodeURIComponent(encodeURIComponent('5d4eac36-941a-4200-81ad-81535a8f3c5a'))}/items/@{encodeURIComponent(body('Get_file_properties')?['ID'])}/patchfileitem","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"Adds the name(s) of the selected approver(s) to SharePoint so that they will see it is assigned to them under the \"My Reviews\" view"}},"runAfter":{"Create_an_approval":["Succeeded"]},"expression":"@equals(variables('updateMetadata1'), true)","limit":{"count":60,"timeout":"PT1H"},"type":"Until","description":"The items in this loop will repeat until the updateMetadata variable is equal to true, which is set at the end when the steps are successfully completed"}},"runAfter":{"Initialize_allResponses_variable":["Succeeded"]},"expression":{"not":{"equals":["@actionOutputs('Get_file_properties')['statusCode']",404]}},"type":"If","description":"Conditional for error checking - if the statusCode is not equal to 404, it returns as Yes "},"Initialize_updateMetadata1_variable":{"runAfter":{"Get_file_properties":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"updateMetadata1","type":"boolean","value":"@false"}]},"description":"Initializing the variable that gets changed to \"true\" when the SharePoint Library item has been successfully updated."},"Initialize_updateMetadata2_variable":{"runAfter":{"Initialize_updateMetadata1_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"updateMetadata2","type":"boolean","value":"@false"}]},"description":"Initializing the variable that gets changed to \"true\" when the SharePoint Library item has been successfully updated."},"Initialize_supervisorReviewers_array_variable":{"runAfter":{"Initialize_updateMetadata2_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"supervisorReviewers","type":"array"}]},"description":"Initializing a variable to store the names of supervisor reviewers, if there are more than one."},"Initialize_supervisorComments_variable":{"runAfter":{"Initialize_supervisorReviewers_array_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"supervisorComments","type":"string"}]},"description":"Initializing a variable to store the responses of each supervisor, if there are more than one."},"Initialize_allResponses_variable":{"runAfter":{"Initialize_supervisorComments_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"allResponses","type":"string"}]},"description":"Initializes a variable to store each of the individual responses, with the approver name, response, response date, and comments"}},"outputs":{},"description":"This flow will send an approval request to the supervisor for the selected file. The supervisor can view and approve the request in the Approvals Center. To run this flow, select a file and choose this flow from the Flow menu."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"6adbc0c5e6c84392a6361d4481ef5b16","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"56e73295ef614e46b70177085b2e4063","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"90fbb75e5bd44c9992e4bbae215adf27","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"6adbc0c5e6c84392a6361d4481ef5b16","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_2":{"connectionName":"6adbc0c5e6c84392a6361d4481ef5b16","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}