samples/notify-on-last-working-day/sourcecode/Microsoft.Flow/flows/2efaa716-d914-4206-ad8a-e76b90270c3c/definition.json
{"name":"9e0f9dd9-dce2-460c-981d-26203f50505e","id":"/providers/Microsoft.Flow/flows/9e0f9dd9-dce2-460c-981d-26203f50505e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send a notification the last working day of the month (except holidays)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"9e96012d-32ed-403e-a5aa-214bdea98011","type":"User","tenantId":"c35399f0-5ea9-4b99-b28c-2e01481c1b07"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-03-06T18:17:25.7914311Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Central European Standard Time","schedule":{"hours":["6"]}},"correlation":{},"metadata":{"operationMetadataId":"d38a325d-c1e2-4680-8440-7707f4888663"},"type":"Recurrence","conditions":[{"expression":"@greater(utcNow(),addDays(startOfMonth(addToTime(utcNow(),1,'Month')),-4))"}],"description":"Please set your time zone. The flow is triggered if the date returned by utcNow() is greater than 4 days before the first day of the next month (check Settings - Trigger Conditions)"}},"actions":{"Initialize_the_DayOfWeekNumber_variable":{"runAfter":{"Initialize_the_DateCountBack_variable":["Succeeded"]},"metadata":{"operationMetadataId":"40792739-a26b-4ead-b9bc-08ca32fc6301"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DayOfWeekNumber","type":"integer"}]},"description":"This variable will be used to get the day number (Sunday is 0, Monday is 1, and so on)"},"Notify_if_the_'DateCountBack'_=_'Date'":{"actions":{"Send_notification_-_today_is_the_last_working_day_of_the_month":{"runAfter":{},"metadata":{"operationMetadataId":"9b173806-f367-4578-b123-e1ef3c9cc17c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_flowpush","connectionName":"shared_flowpush","operationId":"SendEmailNotification"},"parameters":{"NotificationEmailDefinition/notificationSubject":"@outputs('Compose_mail_notification_message')['subject']","NotificationEmailDefinition/notificationBody":"@outputs('Compose_mail_notification_message')['body']"},"authentication":"@parameters('$authentication')"},"description":"In the "}},"runAfter":{"Do_the_loop_until_find_the_working_day_(Mon-Fri)":["Succeeded"]},"else":{"actions":{"Terminate_the_flow":{"runAfter":{},"metadata":{"operationMetadataId":"b63d1a1f-e755-4d6e-90a0-7fecad3da01f"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@formatDateTime(variables('DateCountBack'), 'dd-MM-yyyy')","@formatDateTime(variables('Date'), 'dd-MM-yyyy')"]},"metadata":{"operationMetadataId":"d50af1cb-6e07-4dbb-8520-2ff8255e46bb"},"type":"If","description":"If 'DateCountBack' = 'Date' the flow should trigger the notification as it indicates that 'Date' is the last working day of the month"},"Date_(by_default=_utcNow)":{"runAfter":{},"metadata":{"operationMetadataId":"9bd71fc3-7e3d-44f1-b632-95ad17cad3c2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Date","type":"string","value":"@{convertFromUtc(utcNow(),'Central European Standard Time')}"}]},"description":"Adjust the variable to run the flow against specific day (i.e. if you set the variable to addDays(utcNow,1) this will run the flow against tomorrow). You can also set a fixed date for debug purpose. *Convert your date to the correct time zone!"},"Do_the_loop_until_find_the_working_day_(Mon-Fri)":{"actions":{"Set_DateCountBack":{"runAfter":{},"metadata":{"operationMetadataId":"605c8031-4be6-4e0c-bfa0-7b7120e79ca6"},"type":"SetVariable","inputs":{"name":"DateCountBack","value":"@variables('DecrementedDate')"},"description":"Set the DateCountBack one day back from the first day of the next month and so on unless we hit work day (Mon-Fri)"},"Decrement_the_date_of_'DecrementedDate'_by_1_day":{"runAfter":{"Set_'DayofWeekNumber'_based_on_'DateCountBack'_":["Succeeded"]},"metadata":{"operationMetadataId":"3b73ccdc-af13-40e0-bfb2-69a448ad2bea"},"type":"SetVariable","inputs":{"name":"DecrementedDate","value":"@{addDays(variables('DateCountBack'), -1)}"},"description":"addDays(variables('DateCountBack'), -1)"},"Set_'DayofWeekNumber'_based_on_'DateCountBack'_":{"runAfter":{"Set_DateCountBack":["Succeeded"]},"metadata":{"operationMetadataId":"e7869013-6c09-4087-b83b-d35fa4c98952"},"type":"SetVariable","inputs":{"name":"DayOfWeekNumber","value":"@dayOfWeek(variables('DateCountBack'))"},"description":"dayOfWeek(variables('DateCountBack'))"}},"runAfter":{"Initialize_the_DayOfWeekNumber_variable":["Succeeded"]},"expression":"@and(not(equals(variables('DayOfWeekNumber'), 0)), not(equals(variables('DayOfWeekNumber'), 6)))","limit":{"count":8,"timeout":"PT1H"},"metadata":{"operationMetadataId":"d7518987-8d58-49c6-89f4-95361b75bf44"},"type":"Until","description":"It will loop until 'DayOfWeekNumber' based on a 'DateCountBack' variable is not 0 (Sunday) or 6 (Saturday)"},"Set_a_variable_for_the_First_Day_Of_Next_Month_(not_used,_sample)":{"runAfter":{"Compose_mail_notification_message":["Succeeded"]},"metadata":{"operationMetadataId":"b51aacfc-7de8-4f0d-b657-df5bba98bb0e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"FirstDayOfNextMonth","type":"string","value":"@{startOfMonth(addToTime(variables('Date'),1,'Month'))}"}]},"description":"startOfMonth(addToTime(variables('Date'),1,'Month'))"},"Set_a__variable_for_Last_Day_Of_The_Current_Month_(not_used,_sample)":{"runAfter":{"Set_a_variable_for_the_First_Day_Of_Next_Month_(not_used,_sample)":["Succeeded"]},"metadata":{"operationMetadataId":"aa4bbecc-3f66-484e-adc1-fba55b31230c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"LastDayOfTheCurrentMonth","type":"string","value":"@{addDays(startOfMonth(addToTime(variables('Date'),1,'Month')),-1)}"}]},"description":"Extract one day from the first day of the next month to get the last day of the current month. addDays(startOfMonth(addToTime(variables('Date'),1,'Month')),-1)"},"Set_Decremented_date_by_1_day_from_First_Day_Of_Next_Month":{"runAfter":{"Set_a__variable_for_Last_Day_Of_The_Current_Month_-_optional_(not_used,_sample)":["Succeeded"]},"metadata":{"operationMetadataId":"22473f8f-1225-47c6-9f8e-fa9679d81a68"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DecrementedDate","type":"string","value":"@{addDays(variables('FirstDayOfNextMonth'),-1)}"}]},"description":"We need to use an extra variable as in March 2022 self reference is not supported when updating the value of variable in the 'Do Until' loop"},"Set_a__variable_for_Last_Day_Of_The_Current_Month_-_optional_(not_used,_sample)":{"runAfter":{"Set_a__variable_for_Last_Day_Of_The_Current_Month_(not_used,_sample)":["Succeeded"]},"metadata":{"operationMetadataId":"6e839d39-27d7-4072-90d4-66a22aa2b62c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"LastDayOfTheCurrentMonth_optional","type":"string","value":"@{addDays(variables('FirstDayOfNextMonth'),-1)}"}]},"description":"You can count the Last Day Of The Current Month using the variable 'FirstDayOfNextMonth' initialized before. addDays(variables('FirstDayOfNextMonth'),-1)"},"Compose_mail_notification_message":{"runAfter":{"Date_(by_default=_utcNow)":["Succeeded"]},"metadata":{"operationMetadataId":"6b8b3c63-94c1-401d-ac9d-56069cc01472"},"type":"Compose","inputs":{"subject":"Power Automate notification -@{if(equals(formatDateTime(variables('Date'),'dd-MM-yyyy'),formatDateTime(utcNow(),'dd-MM-yyyy')),' today ', concat(' the ',formatDateTime(variables('Date'),'dd-MM-yyyy'), ' '))}is the last working day of the month (except holidays)","body":"Hi,<br>Just wanted to let you know that@{if(equals(formatDateTime(variables('Date'),'dd-MM-yyyy'),formatDateTime(utcNow(),'dd-MM-yyyy')),' today ', concat(' the ',formatDateTime(variables('Date'),'dd-MMM-yyyy'), ' '))}is the last working day of the month (except holidays).<br><br>Your sincerly<br>Power Automate Flow"},"description":"This is a subject and body objects for the notification. It uses 'today' phrase if the 'Date' variable uses today's date. Otherwise it uses the date format of the 'Date'"},"Initialize_the_DateCountBack_variable":{"runAfter":{"Set_Decremented_date_by_1_day_from_First_Day_Of_Next_Month":["Succeeded"]},"metadata":{"operationMetadataId":"d88db28f-b4d8-4805-98b9-3ddd8cc052b7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DateCountBack","type":"string"}]},"description":"This variable will be used to set a decremented date by 1 day and check the day of the week"}},"outputs":{},"description":"This flows sends an e-mail notification last working day of the month (except holidays)\nAssumptions: work week: Mon-Fri.  \nby Michal Ziemba\nver 1.1 /March 2022"},"connectionReferences":{"shared_flowpush":{"connectionName":"shared-flowpush-66ba99bc-78cf-49dc-9631-c509a2be20e6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_flowpush","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}